@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap%27%27');

body {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}

.products-container {
    display: flex;
    height: 100%;
    width: 100;
    align-items: center;
}

.item-row {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.card-row {
    display: flex; 
    flex-direction: row;
    margin-top: 6%; 
}

.cards {
    display: flex;
    flex-direction: column;
    color: #2c2c2c;
    background-color: #FFFFFF;
    list-style: none;
    width: 136px;
    height: 136px;
    margin-left: 7%;
    filter: drop-shadow(0px 3px 5px rgba(51, 51, 51, 0.15));
}

.product-name {
    font-size: 14px;
    color:#2c2c2c;
    font-weight: 700;
    margin-left: 6px;
}

.product-price {
    font-size: 10px;
    color: #2c2c2c;
    font-weight: 400;
    margin-left: 6px;

}