[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "3.0.6"
Pillow = "8.1.0"
django-filter = "2.4.0"
django-crispy-forms = "1.10.0"
django-environ = "0.4.5"
xendit-python = "0.1.0"
shortuuid = "1.0.1"
pyjwt = "2.0.1"
secret-key-generator = "0.0.7"
cryptography = "3.4.6"
django-cors-headers = "3.7.0"
django-allauth = "0.44.0"

[dev-packages]

[requires]
python_version = "3.8"
