@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-color: var(--bg-color);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-display {
    display: flex;
    align-items: center;
    background-color: var(--primary-main);
    width: 100%;
    height: 5rem;
}
#small-white-ql-logo {
    background-color: transparent;
    padding: 1.375rem 1rem 1.375rem 1.5rem;
}
#nav-title {
    font-size: 1.75rem;
    color: #FFF;
    font-weight: 700;
    background-color: transparent;
}
/*most are css for the addcards html */
.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30rem;
}
.page-title {
    font-size: 1.5rem;
    color: var(--muted-dark);
    font-weight: 700;
    padding: 1.875rem 0;
}
.body-info {
    display: flex;
    flex-direction:column;
    justify-content: start;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: #FFF;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    border-radius: 5px;
}
.card-input-details {
    background-color: #FFF;
}
.body-title {
    font-size: 1.5rem;
    color: var(--muted-dark);
    font-weight: 700;
    padding: 1rem 0;
    background-color: #FFF;
}
.text-structure {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}
.card-logos {
    display: flex;
    background-color: #FFF;
}
#small-card-logos {
    background-color: #FFF;
    padding: 0.25rem;
}
.body-element {
    font-size: 14px;
    font-weight: 600;
    color:var(--muted-dark);
    padding: 0 0 0.25rem 0;
    background-color: #FFF;
}
input[type=text], select {
    font-size:14px;
    color: #2c2c2c;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: #FFF;
    border: 1px solid var(--muted-lighter);
}
input[type=custom-text], select {
    font-size:14px;
    color: #2c2c2c;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: #FFF;
    border: 1px solid var(--muted-lighter);
}
.two-inputs {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}
.input-structure {
    display: flex;
    flex-direction: column;
    width: 48%;
    background-color: #FFF;
}
.confirmation-btn {
    background-color: #FFF;
}
.yellow-btn {
    color: #FFF;
    font-size: 0.875rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--secondary-main);
}
/*most of the customize cards are below */

#card-type-logo {
    width: 5.5rem;
    height: 3rem;
    background-color: #FFF;
}
#card-number {
    color: var(--muted-dark);
    font-size:0.875rem;
    background-color: #FFF;
    padding: 0 0 2rem 0;
}
.default-option {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}
#default-option-header-text {
    color: var(--muted-dark);
    font-size: 0.875rem;
    background-color: #FFF;
}
#default-option-subheader-text {
    color: var(--muted-lighter);
    font-size: 0.75rem;
    background-color: #FFF;
    width: 12rem;
    line-height: 1.5;
}
.switchWhole {
  display: flex;
  margin: 1rem 0;
  background-color: #FFF;
}
.checkbox input:checked ~ #switchTextActive {
  color:var(--success-main);
}
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  border: 1px solid var(--muted-lightest);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--success-main);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.outline-btn {
    background-color: #FFF;
}
.delete-btn {
    color: var(--failure-main);
    font-size: 0.875rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
    margin: 1.5rem 0;
    background-color: #FFF;
    border: 1px solid var(--failure-main);
}