@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-color: var(--bg-color);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-display {
    display: flex;
    align-items: center;
    background-color: var(--primary-main);
    width: 100%;
    height: 5rem;
}
#small-white-ql-logo {
    background-color: transparent;
    padding: 1.375rem 1rem 1.375rem 1.5rem;
}
#nav-title {
    font-size: 1.75rem;
    color: #FFF;
    font-weight: 700;
    background-color: transparent;
}
.customer-menu-wrapper {
    padding: 3.5rem 0;
    width: 30rem;
}
.customer-profile-display{
    display: flex;
    justify-content: start;
}
#customer-dp {
    border: 50%;
    padding-right: 0.675rem;
}
.customer-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#Profile-name {
    color: var(--muted-dark);
    font-size: 1.25rem;
}
#profile-username {
    color: var(--primary-main);
    font-size: 0.625rem;
}
.customer-active-orders {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 2.7rem;
}
#active-order-wrapper {
    padding: 0;
}
#active-orders-header {
    color: var(--muted-dark);
    font-weight: 600;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
.active-orders {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
    padding: 0.3rem;
    width: 30rem;
    height: 5.5rem;
    background-color: #FFF;
    border-left: 4px solid var(--secondary-main)
}
.order-info {
    display:flex;
}
#order-display-picture {
    border: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: #FFF;
}
.order-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFF;
}
#order-company-name {
    color: var(--muted-dark);
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFF;
}
#order-delivery-date {
    color:var(--muted-lighter);
    font-size: 0.75rem;
    background-color: #FFF;
}
.item-status {
    display: flex;
    align-items: center;
    background-color: #FFF;
}
#order-status-label {
    color: var(--primary-pressed);
    font-size: 0.75rem;
    background-color: #FFF;
}
#order-icon{
    background-color: #FFF;
    padding: 0 0.25rem 0 0;
}
.order-total {
    background-color: #FFF;
}
#order-total-amount {
    color:var(--muted-lighter);
    font-size: 0.75rem;
    font-weight: 400;
    background-color: #FFF;
    padding: 0.25rem 1.25rem;
}
.customer-settings-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem 0;
    width: 30rem;
}
.customer-settings-options a {
    line-height: normal;
    color:var(--muted-dark);
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    margin-bottom: 0.5rem;
    background-color: #FFF;
}
.logout-btn {
    display:flex;
    justify-content: center;
    padding: 1rem 0;
}
#outline-btn {
    text-align: center;
    border: 1px solid var(--failure-main);
    background-color: #FFF;
    color:var(--failure-main);
    font-size: 0.875rem;
    padding: 0.5rem 7.5rem;
}