{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Bank Account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/account-creation/bank.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            <div class="pagination">
                <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle body-big bold">1</a>
                <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle body-big bold">2</a>
                <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle pagination__circle--active body-big bold">3</a>
            </div>
            <h1 class="bold" style="color: var(--primary-main); padding: 0.5rem 0; ">Where do you want to receive your money?</h1>
            <h2 class="body" style="color: var(--muted-default);">This won’t affect the payment options provided for your customers. This is simply where you want us to deposit your revenue to. You can always change this in your settings.</h2>
        </div>
        
        <form method="post" style="width: 100%;">
            {% csrf_token %}
            
            <div class="registration-content">
                {{form.bank_name}}
            </div>

            <div class="registration-content" id="js-display-inputs" style="display: none;">
                <div class="registration-content" style="margin-top: 0.25rem;">
                    {{form.cardholder_name}}
                    {{form.account_number}}
                </div>
            </div>

            <div id="shop-info">{{ shop.shop_name }}</div>
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content" style="margin-top: 2rem;">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn primary-btn-link">Next</button>
                <a href="{% url 'accounts:merchant-add-logo' %}" class="btn__back" style="margin: 0;"><button type="button" class="secondary-btn secondary-btn-link" style="width: 100%;">Back</button></a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_bank_name').niceSelect();

            if ($("#id_bank_name").val !== "") {
                $("#js-display-inputs").show();
            }

            $("#id_bank_name").change(function(){
                if ($(this).val() !== "") {
                    $("#js-display-inputs").show();
                } else {
                    $("#js-display-inputs").hide();
                }
            });
        });
    </script>
{% endblock %}