{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Shop Logo{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            <div class="pagination">
                <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle body-big bold">1</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle pagination__circle--active body-big bold">2</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle  body-big bold">3</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle body-big bold">4</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle body-big bold">5</a>
            </div>
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Upload a Logo</h1>
            <h2 class="body" style="color: var(--muted-default);">Give your shop a brand!</h2>
        </div>

        <form action="" method="post" enctype="multipart/form-data" style="width: 100%;">
            {% csrf_token %}
            {% if form.logo.value %}
                <div class="upload__container success" id="js-logo-upload">
                        <img src="{{ form.logo.value.url }}" alt="User uploaded logo" class="upload__file">
                </div>
                <div class="caption upload__text" id="js-browse-files">
                    <span class="upload__link" style="text-align: center;">Replace image</span>
                </div>
            {% else %}   
                <div class="upload__container" id="js-logo-upload">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                    <div class="upload__content">
                        <p class="upload__text" id="js-logo-text">Drag your shop's logo here, </p>
                        <p class="upload__text">or <span class="upload__link" id="js-browse-files">browse through your files.</span></p>
                    </div>
                </div>
                <div class="caption upload__text" style="display: none;" id="js-browse-files-hidden">
                    <span class="upload__link" style="text-align: center;">Replace image</span>
                </div>
            {% endif %}
            <div style="display: none; ">{{ form.as_p }}</div>
            <div class="caption">
                <p class="subtitle">Supported file formats: .jpg, .jpeg, .png</p>
                <p class="subtitle">Suggested size: 800x800 pixels</p>
            </div>

            <div id="shop-info">{{ shop.shop_name }}</div>
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content" style="margin-top: 2rem;">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn subtitle">Next</button>
                <a href="{% url 'accounts:merchant-add-shop' %}" class="btn__back" style="margin: 0;"><button type="button" class="secondary-btn subtitle" style="width: 100%;">Back</button></a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Drag and Drop -->
    <script>
        const dropArea = document.getElementById('js-logo-upload');
        const fileBrowse = document.getElementById('js-browse-files');
        const fileInput = document.getElementById('id_logo');
        const replaceImageText = document.getElementById('js-browse-files-hidden');
        let file;
        console.log(dropArea, fileBrowse, fileInput, replaceImageText)

        function FileListItems (files) {
            var b = new ClipboardEvent("").clipboardData || new DataTransfer()
            for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
            return b.files
        }

        fileBrowse.addEventListener('click', function() {
            fileInput.click();
        });

        dropArea.addEventListener('dragover', function(e) {
            e.preventDefault();
            dropArea.classList.add("active");
            dropArea.style.transform = "translateY(-2.5%)";
        });

        dropArea.addEventListener('dragleave', function() {
            dropArea.classList.remove("active");
            dropArea.style.transform = "translateY(0)";
        });

        dropArea.addEventListener('drop', function(e) {
            e.preventDefault();
            dropArea.classList.remove("active");
            file = e.dataTransfer.files[0];
            
            let fileType = file.type;
            let validFileTypes = ["image/jpeg", "image/jpg", "image/png"]
            
            if (validFileTypes.includes(fileType)) {
                let fileReader = new FileReader();
                fileReader.onload = function() {
                    let fileURL = fileReader.result;
                    let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                    dropArea.innerHTML = imgTag;
                    dropArea.classList.remove("active");
                    dropArea.classList.add("success");
                    replaceImageText.id = "js-browse-files";
                    replaceImageText.style.display = "flex";
                    fileBrowse = document.getElementById('js-browse-files');
                }
                fileReader.readAsDataURL(file);
                var files = [file]
                fileInput.files = new FileListItems(files);
            } else {
                alert("Supported image file formats are .jpg, .jpeg, .png only.");
            }
        });

        window.onload = function() {
            function displayImage(file) {
                fileURL = (window.URL ? URL : webkitURL).createObjectURL(file)
                let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                dropArea.innerHTML = imgTag;
                dropArea.classList.remove("active");
                dropArea.classList.add("success");
                replaceImageText.id = "js-browse-files";
                replaceImageText.style.display = "flex";
                replaceImageText.addEventListener('click', function() {
                    fileInput.click();
                });
            }

            $("#id_logo").change(function(){
                file = fileInput.files[0];
                displayImage(file);
            });
        }
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);
        var errorMessages = [];
        
        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        for (i = 0; i <= Object.keys(errorMessages).length; i++) {
            if (errorMessages[String(i)] != undefined) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: errorMessages[String(i)],
                    layout: "topRight",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            } else if (fileInput.files[0] != undefined) {
                new Noty({
                    type: 'success',
                    theme: 'sunset',
                    text: "Image successfully displayed!",
                    layout: "topRight",
                    timeout: 2500
                }).show();
            }
        }
    </script>
{% endblock %}