{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Shop Information{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            <div class="pagination">
                <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle pagination__circle--active body-big bold">1</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle body-big bold">2</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle  body-big bold">3</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle body-big bold">4</a>
                    <div class="pagination__line"></div>
                <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle body-big bold">5</a>
            </div>
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Shop Information</h1>
            <h2 class="body" style="color: var(--muted-default);">Help us get to know your shop better.</h2>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-form">
            {% csrf_token %}
            <div class="registration-content">
                <p class="subtitle bold">Shop Name<span style="color: var(--failure-main)">*</span></p>
                {{form.shop_name}}
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Contact Number<span style="color: var(--failure-main)">*</span></p>
                {{form.shop_contact_number}}
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Display Email Address<span style="color: var(--failure-main)">*</span></p>
                {{form.shop_email}}
                <div class="input__helper__row">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                    >
                    <p class="input__helper caption">Your customers will contact you through this email address.</p>
                </div>
            </div>
            
            <div class="registration-content">
                <p class="subtitle bold">Shop Quicklink Username<span style="color: var(--failure-main)">*</span></p>
                {{form.shop_username}}
                <div class="input__helper__row">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                    >
                    <p class="input__helper caption">This will be used for your order form link (quicklink.ph/username).</p>
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Shop Address<span style="color: var(--failure-main)">*</span></p>
                {{form.line1}}
                {{form.line2}}
                {{form.city}}
                <div class="registration-content registration-content__row">
                    <div class="registration-content__input--small" style="padding-right: 4px;">{{form.province}}</div>
                    <div class="registration-content__input--small" style="padding-left: 4px;">{{form.postal_code}}</div>
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Social Media Links</p>
                {{form.instagram}}
                {{form.facebook}}
                {{form.twitter}}
            </div>

            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0; width: 100%;" class="primary-btn subtitle">Next</button>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <!-- AlgoliaJS – Autocomplete Address -->
    <!-- Check https://www.algolia.com/apps/1DDI408VTY/dashboard -->
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>

    <script>
        var inputLine1 = $('#id_line1');
        var inputLine2 = $('#id_line2');
        var inputCity = $('#id_city');
        var inputProvince = $('#id_province');
        var inputPostalCode = $('#id_postal_code');

        const fixedOptions = {
            container: document.querySelector('#id_line1'),
            accessibility: {
                pinButton: {
                    'aria-label': 'use browser geolocation',
                    'tab-index': 12,
                },
                clearButton: {
                    'tab-index': 13,
                }
            }
        }

        const reconfigurableOptions = {
            language: 'en', // Receives results in English
            countries: ['ph'], // Search in the Philippines
            useDeviceLocation: true // Ask and use the device location to strengthen search/boost around the source IP
        };

        var placesAutocomplete = places(fixedOptions).configure(reconfigurableOptions);

        placesAutocomplete.on('change', function(e) {
            inputLine1.val(e.suggestion.name);
            inputLine2.val(e.suggestion.city);
            
            for (i = 0; i < document.getElementById('id_city').length; i++) {
                if (document.getElementById('id_city').options[i].value == e.suggestion.county + " City") {
                    console.log('Matching city found!')
                    inputCity.val(e.suggestion.county + " City");
                }
            }

            for (i = 0; i < document.getElementById('id_province').length; i++) {
                if (e.suggestion.administrative == "Metro Manila") {
                    console.log('Matching province found!')
                    inputProvince.val("Metro Manila");
                }
            }

            inputPostalCode.val(e.suggestion.postcode);
        });
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}