{% extends 'quicklink/base.html' %}
{% load static %}

{% block pagetitle %}Registration: Shop Information{% endblock %}

{% block maincontent %}

<form action="" method="post">

    <div class="registration-container">
        <div class="registration-wrapper">

            <h1>Let's get to know you</h1>
            <p>We'll remember you! Your form details will be ordered on all your next orders.</p>

            {% csrf_token %}

            <div class="registration-content" style="flex-direction: column;">
                {{form.bank_name}}
            </div>
            
            <div class="registration-content" style="flex-direction: column;">
                <p>Cardholder's Name</p>
                {{form.cardholder_name}}
            </div>

            <div class="registration-content" style="flex-direction: column;">
                <p>Card Number</p>
                {{form.account_number}}
            </div>

            <div class="registration-content">
                <div class="registration-content" style="flex-direction: column;">
                    <p>Valid thru</p>
                    {{form.exp_date}}
                </div>
                <div class="registration-content" style="flex-direction: column;">
                    <p>CVV</p>
                    {{form.cvv}}
                </div>
            </div>

            {{ form.errors }}

            <input type="submit" name="next" value="Next" style="margin: 24px 0 8px 0;" class="preview-btn">
            <a href="{% url 'accounts:customer-register-notifications' %}" class="tertiary-btn-link">Skip for now</a>
        </div>
    </div>
</form>

{% endblock %}