{% extends 'quicklink/base.html' %}
{% load static %}

{% block pagetitle %}Registration: Shop Information{% endblock %}

{% block maincontent %}

<form action="" method="post">

    <div class="registration-container">
        <div class="registration-wrapper">

            <h1>Let's get to know you</h1>
            <p>We'll remember you! Your form details will be ordered on all your next orders.</p>

            {% csrf_token %}
            
            <div class="registration-content" style="flex-direction: column;">
                <p>Delivery Address</p>
                {{form.line1}}
                {{form.line2}}
                {{form.city}}
                <div class="registration-content">
                    {{form.province}}
                    {{form.postal_code}}
                </div>
            </div>

            {{ form.errors }}

            <input type="submit" name="Next" style="margin: 24px 0 8px 0;" class="preview-btn">
            <a href="{% url 'accounts:customer-register-payment' %}" class="tertiary-btn-link">Skip for now</a>
        </div>
    </div>
</form>

{% endblock %}