{% extends 'quicklink/signups.html' %}
{% load static %}
{% load socialaccount %}

{% block pagetitle %}Merchant Email Confirmation{% endblock %}

{% block cardContent %}
    <div class="registration-header">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/Shortened-logo_BzQkxRgQX.svg" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-4x_qiZytmz_G.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-3x_qwYOTUuxmZn.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-2x_KY3DONXuR.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg 1x,"
            style="padding-bottom: 0.75rem;"
        >
        {% if success %}
                <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Your email address has successfully been verified!</h1>
                <p class="body" style="color: var(--muted-dark); margin-top: 0.5rem; text-align: center;">Welcome to Quicklink. We're glad to have you onboard!</h2>
            </div>
            <button type="button" style="margin: 0.5rem 0; width: 100%;" id="js-proceed-btn" class="primary-btn primary-btn-link" data-id="{{ user.id }}">Proceed</button>
        {% else %}
                <h1 class="bold" style="color: var(--muted-dark); padding: 0.25rem 0; ">Unsuccessful Verification!</h1>
                <p class="body" style="color: var(--muted-dark); margin-top: 0.5rem; text-align: center;">The token for verification was either invalid or has already expired. Please try again.</h2>
            </div>
            <button type="button" style="margin: 0.5rem 0; width: 100%;" id="js-resend-email-btn" class="primary-btn primary-btn-link" data-id="{{ user.id }}">Resend Email</button>
        {% endif %}
    </div>
{% endblock %}

{% block scriptsBody %} 
    {% if success %}
        <script>
            var proceedBtn = document.getElementById('js-proceed-btn');
            var current_url = window.location.href.split('/verification/')[0] + '/user/merchant/confirmation/';
            console.log(current_url)

            proceedBtn.addEventListener('click', function() {
                var userId = proceedBtn.dataset.id
                console.log(userId)
                
                $.ajax({
                    url: current_url,
                    type: "POST",
                    data: {"message": "success", "userId": userId},
                    success:function(response){
                        console.log("Message data successfully sent.")
                    },
                    error:function (xhr, textStatus, thrownError){
                        console.log("Can't send message data.", xhr, textStatus, thrownError);
                    }
                });
            })
        </script>
    {% else %}
        <script>
            var resendEmailBtn = document.getElementById('js-resend-email-btn');
            var current_url = window.location.href.split('/verification/')[0] + '/user/merchant/confirmation/';
            console.log(current_url)

            resendEmailBtn.addEventListener('click', function() {
                var userId = resendEmailBtn.dataset.id
                var timer = 30;
                resendEmailBtn.innerHTML = "Resend Email (" + String(timer) + ")"
                resendEmailBtn.classList.toggle('disabled');
                console.log(userId)

                $.ajax({
                    url: current_url,
                    type: "POST",
                    data: {"message": "failure", "userId": userId},
                    success:function(response){
                        console.log("Message data successfully sent.")
                    },
                    error:function (xhr, textStatus, thrownError){
                        console.log("Can't send message data.", xhr, textStatus, thrownError);
                    }
                });

                var downloadTimer = setInterval(function(){
                    if (timer <= 0){
                        resendEmailBtn.classList.remove('disabled');
                        resendEmailBtn.innerHTML = "Resend Email";
                        clearInterval(downloadTimer);
                    } else {
                        resendEmailBtn.innerHTML = "Resend Email (" + String(timer-1) + ")"
                    }
                    timer -= 1;
                }, 1100);
            })
        </script>
    {% endif %}
{% endblock %}