{% load static %}
{% load avatar_tags %}
{% load imagekit %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">

    {% block stylesheets %}{% endblock %}

    <script src="{% static '/js/datetime.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body onload="realtimeClock()">
    {% if request.user.is_anonymous == True %}
        <div class="header-container">
            <div class="header-wrapper">
                <div class="datetime" id="datetime"></div>
            </div>
        </div>
    {% else %}
        <div class="header-container">
            <div class="header-wrapper">
                <div class="datetime" id="datetime"></div>
                {% if request.user|has_avatar %}
                    {% avatar request.user 24 class="img-circle img-responsive" id="js-user-avatar" %}    
                {% else %}
                    <div class="profile__pic profile__pic--backup caption bold" id="js-user-avatar">{{ request.user.get_initials }}</div>
                {% endif %}
                <div class="profile__pic--settings" id="js-profile-modal">
                    <a href="{% url 'accounts:account-settings' %}" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold">My Account</div>
                    </a>
                    <a href="{% url 'accounts:logout' %}" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold logout">Logout</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <main>
        {% block maincontent %}
        {% endblock %}
    </main>

    <script>
        var user = "{{ request.user }}"

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
            
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <script>
        const userAvatar = $('#js-user-avatar');
        const profilePicModal = document.getElementById('js-profile-modal');

        userAvatar.click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            profilePicModal.classList.toggle('active')
        });
    </script>

    {% block scriptsBody %}{% endblock %}
</body>
</html>