{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/products.css' %}">
    <link rel="stylesheet" href="{% static '/css/orders.css' %}">
    <link rel="stylesheet" href="{% static '/css/user-products.css' %}">
    <link rel="stylesheet" href="{% static '/css/datetime.css' %}">
    <script src="{% static '/js/datetime.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body onload="realtimeClock()">
    <div class="header-container">
        <div class="header-content">
            <div class="datetime" id="datetime"></div>
        </div>
    </div>

    {% include 'quicklink/navbar.html' %}
    
    <main>
        {% block maincontent %}
        {% endblock %}
    </main>
</body>
</html>