{% load static %}    
    
<nav class="sidebar">
    <div class="sidebar-logo">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-4x_WteqAOm6dc7.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-3x_tQQd4iCYJB.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-2x_tMFeicZb8.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png 1x,"
        >
    </div>
    <div class="sidebar-menu">
        <ul>
            <!-- 1st button and sub bar  -->
            <li class="extra-bold nav-link"><a href="#" class="extra-bold nav-link">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_create-dashboard_hSYH09hkrbW.png">
                Dashboard</a>
            </li>
    
            <!-- 2nd button and sub bar  -->
            <li>
                <a class="feat-btn nav-link extra-bold">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_shopping-bag_GZkGQPWQY.png">
                    Shop
                    <span class="fas fa-caret-right first"></span>
                </a>
                <ul class="feat-show">
                    <li><a href="{% url 'orders:order-summary' %}" class="bold">Order Summary</a></li>
                    <li><a href="{% url 'orders:pending-orders' %}" class="bold">Pending Orders</a></li>
                    <li><a href="{% url 'products:products' %}" class="bold">Products</a></li>
                </ul>
            </li>
        
            <!-- 3rd button and sub bar  -->
            <li>
                <a class="serv-btn extra-bold nav-link">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_money-bill_W0-WNOqf7.png">
                    Finances
                    <span class="fas fa-caret-right second"></span>
                </a>
                <ul class="serv-show">
                    <li><a href="#" class="bold">Total Revenue</a></li>
                    <li><a href="#" class="bold">Profit</a></li>
                    <li><a href="#" class="bold">Expenses</a></li>
                </ul>
            </li>
        
            <!-- 4th button and sub bar  -->
            <li>
                <a class="cldk-btn extra-bold nav-link">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_setting_CNB5wNSAq0dD.png">
                    Settings
                    <span class="fas fa-caret-right third"></span>
                </a>
                <ul class="cldk-show">
                    <li><a href="#" class="bold">My Shop</a></li>
                    <li><a href="#" class="bold">Account</a></li>
                    <li><a href="#" class="bold">Notifications</a></li>
                    <li><a href="#" class="bold">Resources</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
  
<script>
    $('.feat-btn').click(function(){
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
    });
    
    $('.serv-btn').click(function(){
        $('nav ul .serv-show').toggleClass("show1");
        $('nav ul .second').toggleClass("rotate");
    });
    $('.cldk-btn').click(function(){
        $('nav ul .cldk-show').toggleClass("show1");
        $('nav ul .third').toggleClass("rotate");
    });
</script>