{% load static %}    
    
<nav class="sidebar">
    <div class="sidebar-logo">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-4x_WteqAOm6dc7.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-3x_tQQd4iCYJB.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-2x_tMFeicZb8.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png 1x,"
        >
    </div>
    <div class="sidebar__menu">
        <ul class="sidebar__items">
            <!-- 1st button and sub bar  -->
            <li class="sidebar__items__item">
                <a href="#" class="nav__link body extra-bold">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_create-dashboard_hSYH09hkrbW.png">
                    Dashboard
                </a>
            </li>
    
            <!-- 2nd button and sub bar  -->
            <li class="sidebar__items__item">
                <a class="nav__link body extra-bold" id="js-feat-btn">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_shopping-bag_GZkGQPWQY.png">
                    Shop
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/fi_chevron-right_WkAS3Sp7O.png" class="nav__chevron" id="js-first-nav-link">
                </a>
                <ul class="sidebar__items__item__subitems" id="js-feat-show">
                    <li><a href="{% url 'orders:order-summary' %}" class="bold">Order Summary</a></li>
                    <li><a href="{% url 'orders:pending-orders' %}" class="bold">Pending Orders</a></li>
                    <li><a href="{% url 'products:products' %}" class="bold">Products</a></li>
                </ul>
            </li>
        
            <!-- 3rd button and sub bar  -->
            <li class="sidebar__items__item">
                <a class="nav__link body extra-bold" id="js-serv-btn">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_money-bill_W0-WNOqf7.png">
                    Finances
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/fi_chevron-right_WkAS3Sp7O.png" class="nav__chevron" id="js-second-nav-link">
                </a>
                <ul class="sidebar__items__item__subitems" id="js-serv-show">
                    <li><a href="#" class="bold">Total Revenue</a></li>
                    <li><a href="#" class="bold">Profit</a></li>
                    <li><a href="#" class="bold">Expenses</a></li>
                </ul>
            </li>
        
            <!-- 4th button and sub bar  -->
            <li class="sidebar__items__item">
                <a class="nav__link body extra-bold" id="js-cldk-btn">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/u_setting_CNB5wNSAq0dD.png">
                    Settings
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/fi_chevron-right_WkAS3Sp7O.png" class="nav__chevron" id="js-third-nav-link">
                </a>
                <ul class="sidebar__items__item__subitems" id="js-cldk-show">
                    <li><a href="#" class="bold">My Shop</a></li>
                    <li><a href="#" class="bold">Account</a></li>
                    <li><a href="#" class="bold">Notifications</a></li>
                    <li><a href="#" class="bold">Resources</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
  
<script>
    $('#js-feat-btn').click(function(){
        $('#js-feat-show').toggleClass("show");
        $('#js-first-nav-link').toggleClass("rotate");
    });
    
    $('#js-serv-btn').click(function(){
        $('#js-serv-show').toggleClass("show1");
        $('#js-second-nav-link').toggleClass("rotate");
    });
    $('#js-cldk-btn').click(function(){
        $('#js-cldk-show').toggleClass("show1");
        $('#js-third-nav-link').toggleClass("rotate");
    });
</script>