{% extends 'quicklink/app.html' %}

{% block pagetitle %}Delete Order{% endblock %}

{% block maincontent %}

<div class="empty-products-container">
    <div class="empty-products-wrapper">
        <div class="empty-products-content">
            <div class="empty-products-text">
                <h1>Are you sure you want to delete {{ product.name }}?</h1>
                <form method="POST">
                    {% csrf_token %}
                    <a href="{% url 'products:products' %}">Cancel</a>
                    <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}