{% extends 'quicklink/base.html' %}

{% block pagetitle %}Products{% endblock %}

{% block maincontent %}

    {% if not products %}
        <div class="empty-products-container">
            <div class="empty-products-wrapper">
                <div class="empty-products-content">
                    <div class="empty-products-header">
                        <div class="add-product-btn">
                            <a href="{% url 'products:add-product' %}" class="add-product-link">Add Product</a>
                        </div>
                    </div>
                    <div class="empty-products-text">
                        <h1>You have no products yet!</h1>
                        <div class="add-product-btn">
                            <a href="{% url 'products:add-product' %}" class="add-product-link">Add Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="products-container">

            <div class="products-header">
                <div class="products-header-wrapper">
                    <div class="products-search-bar">
                        <form action="{% url 'products:products' %}">
                            <input class="searchbar body" type="search" placeholder="Search" name="search">
                        </form>
                    </div>
                    <div class="products-header-btns">
                        <button class="secondary-btn">
                            <a href="{% url 'orders:products-list' %}" class="secondary-btn-link">Preview Menu</a>
                        </button>
                        <button class="primary-btn">
                            <a href="{% url 'products:add-product' %}" class="primary-btn-link">Add Product</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="products-list">
                <div class="products-wrapper">
                    <table class="products-table">
                        <tr class="products-table-header">
                            <th class="product-table-cell">
                                <input type="checkbox" id="select_all" name="select_all" value="select_all">
                            </th>
                            <th class="table-header product-table-cell">Product</th>
                            <th class="table-header product-table-cell">Stocks</th>
                            <th class="table-header product-table-cell">Total Sold</th>
                            <th class="table-header product-table-cell">Available</th>
                            <th ></th>
                        </tr>
    
                        {% for product in products %}
                            {% if forloop.counter|divisibleby:2 %}
                                <tr class="products-table-row-2">
                                    <td class="product-table-cell">
                                        <input type="checkbox" id="select" name="select" value="select">
                                    </td>
                                    <td class="product-table-cell subtitle bold">{{product.name}}</td>
                                    <td class="product-table-cell subtitle">{{product.stock}}</td>
                                    <td class="product-table-cell subtitle">{{product.sold}}</td> <!-- Insert Total Sold Here -->
                                    <td class="product-table-cell">
                                        <div class="button-wrapper">
                                            <div class="button r" id="button-1">
                                                <input type="checkbox" name="switch" class="switch" id="switch">
                                                <div class="knobs"></div>
                                                <div class="layer"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-table-cell"><a href="{% url 'products:update-product' product.id %}" class="subtitle tertiary-btn-link">
                                        Edit Product</a>
                                        <br>
                                        <a href="{% url 'products:delete-product' product.id %}" class="subtitle tertiary-btn-link failure">
                                        Delete Product</a>
                                    </td>
                                </tr>
                            {% else %}
                            <tr class="products-table-row-1">
                                <td class="product-table-cell table-select">
                                    <input type="checkbox" id="select" name="select" value="select">
                                </td>
                                <td class="product-table-cell subtitle bold">{{product.name}}</td>
                                <td class="product-table-cell subtitle">{{product.stock}}</td>
                                <td class="product-table-cell subtitle">{{product.sold}}</td> <!-- Insert Total Sold Here -->
                                <td class="product-table-cell">
                                    <div class="button-wrapper">
                                        <div class="button r" id="button-1">
                                            <input type="checkbox" name="switch" class="switch" id="switch">
                                            <div class="knobs"></div>
                                            <div class="layer"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-table-cell">
                                    <a href="{% url 'products:update-product' product.id %}" class="subtitle tertiary-btn-link">
                                    Edit Product</a>
                                    <br>
                                    <a href="{% url 'products:delete-product' product.id %}" class="subtitle tertiary-btn-link failure">
                                        Delete Product</a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
    
                    </table>
                </div>
            </div>
        </div>


    {% endif %}

{% endblock %}