.resources__container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: 24rem;
    background: var(--bg-color);
}