{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Payment{% endblock %}

{% block scriptsHead %}
<script src="https://js.xendit.co/v1/xendit.min.js"></script> 
{% endblock %}

{% block maincontent %}
    <h1>Please wait while your payment is being processed...</h1>
    <div id="tokenData" style="display: none;">{{ data }}</div>
    <div id="amountData" style="display: none;">{{ amount }}</div>
{% endblock %}

{% block scriptsBody %}
<script>
    let data = document.getElementById('tokenData').innerHTML
    let tokenData = JSON.parse(data)

    let amount = document.getElementById('amountData').innerHTML
    var amountData = parseFloat(amount)
    console.log(amountData)

    // Create Authentication
    let data2 = {
        "amount": amount,
        "token_id": token_id
    }

    var authenticationData = JSON.parse(data2)

    Xendit.card.createAuthentication(authenticationData, function (err, data) {
        if (err) {
            console.log('Unable to create authentication.', err)
        }

        if (data.status === 'VERIFIED') {
            console.log('Data has been verified. Authentication has been created', data)
        } else if (data.status === 'IN_REVIEW') {
            // Handle authentication (3DS)
            console.log('Data is being reviewed. Authentication is not yet created.', data)
        } else if (data.status === 'FAILED') {
            console.log('Failed to create authentication.', data)
        }
    });
</script>
{% endblock %}