{% load static %}

<div class="cart-container" style="position: fixed; right: 0; top: 0; padding: 5rem; max-height: 100vh; overflow-y: scroll;">
    <h1>My Basket</h1>
    {% for item in items %}
        <h2>{{ item.product.name }}</h1>
        <h3>{{ item.size.size }}</h1>
        <p>{{ item.total }}</p>
        <br>
        
        {% if item.addons %}
            {% for addon in item.addons.all %}
                <p>{{ addon.addon }}</p>
                <p>+ PHP {{ addon.price_addon }}</p>
            {% endfor %}
        {% endif %}
        {% if item.instructions %}
            <p>Notes: {{ item.instructions }}</p>
        {% endif %}
        <br><br>
        <div id="edit-cart-form">
            <img class="decrease-quantity update-cart" data-shop="{{ shop.id }}" data-product="{{ item.product.id }}" data-item="{{ item.id }}" 
            data-action="decrease" src="{% static 'media/icons/order_minus.svg' %}" alt="—">
            
            {{ item.quantity }}

            <img class="increase-quantity update-cart" data-shop="{{ shop.id }}" data-product="{{ item.product.id }}" data-item="{{ item.id }}" 
            data-action="increase" src="{% static 'media/icons/order_plus.svg' %}" alt="+">
        </div>
        <a href="/">
            <div class="secondary-btn edit-product-qty" type="submit">
                <p class="secondary-btn-link">
                    Edit
                </p>
            </div>
        </a>
    {% endfor %}

    {% if items %}
        <p>Subtotal: PHP {{order.subtotal}}</p>
        <p>Convenience Fee: PHP {{order.fees}}</p>
        <h2>Total: PHP {{order.total}}</h2>
        <button class="primary-btn"><a href="{% url 'customers:checkout' %}" class="primary-btn-link">Proceed to Checkout</a></button>
    {% endif %}

</div>

<!-- Insert editable buttons here -->
<script>
</script>
