{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Checkout{% endblock %}

{% block stylesheets %} 
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <form method="post">
        {% csrf_token %}
        <h1>Fill up your details</h1>
        {{ form.name }}<br><br>
        {{ form.email }}<br><br>
        {{ form.contact_number }}<br><br><br>
        
        <h1>Shipping Address</h1>
        {{ form.line1 }}<br><br>
        {{ form.line2 }}<br><br>
        {{ form.city }}<br><br>
        {{ form.province }}
        {{ form.postal_code }}<br><br><br>
        
        <h1>Preferred Delivery Date</h1>
        {{ form.delivery_date }}

        <h1>Mode of Payment</h1>
        {{ form.bank_name }}<br><br>

        <h1>Receive Updates</h1>
        {{ form.notif_sms }} {{ form.notif_sms.label }}<br>
        {{ form.notif_email }} {{ form.notif_email.label }}<br><br><br>
        <button type="submit" class="primary-btn primary-btn-link">Proceed to Payment</button>

        {{ form.errors }}
        {{ form.non_field_errors }}
    </form>
{% endblock %}

{% block scriptsBody %}
{% endblock %}