{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Add {{ product.name | title }}{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{% static '/css/customer-products.css' %}">
{% endblock %}

{% block maincontent %}
<form method="POST">
    <div class="order-product-description">
        <h3 class='bold'>{{ product.name }}</h3>
        <p class='product-description'>{{ product.description }}</p>
        {% if product.stock == "Made to Order" %}
            <p class='product-stock'>{{ product.stock }}</p>
        {% else %}
            <p class='product-stock'>Stocks available: {{ product.stock }}</p>
        {% endif %}
        <p class='product-instructions'>Possible allergens: {{ product.instructions }}</p>
    </div>

    {% csrf_token %}
    {{ form.order }}
    {{ form.product }}
    <div class="order-product-size">
        <h2 class='subtitle bold'>Size/Type</h2>
        {{ form.size }}

        <!-- MANUAL RENDERING -->
        <!-- <div id="order-radios">
            {% for size in sizes %}
                <div class="order-product-size-input">
                    <div class="radio-mobile sizeRadio">
                        <input type="radio" name="size_0" id="size_0" class="size-radio-input">
                        <span class="radio-select-mobile"></span>
                    </div>
                    <label for="size_0" class='subtitle product-size'>{{ size.size }} (PHP {{ size.price_size | floatformat:0 }})</label>
                </div>
            {% endfor %}
        </div> -->
    </div>

    {% if addons %}
    <div class="order-product-addons">
        <h2 class='subtitle bold'>Add-Ons</h2>
        {{ form.addons }}

        <!-- MANUAL RENDERING -->
        <!-- {% for addon in addons %}
            <div class="order-product-addon">
                <div class="order-product-addons-input">
                    <label class="checkbox-mobile">
                        <input type="checkbox" name="addon_0" id="addon_0" class="addon-radio-input">
                        <span class="checkmark-mobile"></span>
                    </label>
                    <label for="addon_0" class='subtitle product-addon'>{{ addon.addon }}</label>
                </div>
                <span class="addon-price">+ PHP {{ addon.price_addon | floatformat:2 }}</span>
            </div>
        {% endfor %} -->
    </div>
    {% endif %}

    <div class="order-product-instructions">
        <h2 class='subtitle bold'>Special Instructions</h2>
        {{ form.instructions }}
    </div>

    <div class="order-products-footer">
    {{ form.quantity }}
    <button type="submit" 
     class="add-to-basket-btn subtitle bold">Add Product</button>
</form>

{% endblock %}

{% block scriptsBody %} 
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}