{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Add {{ product.name | title }}{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{% static '/css/customer-products.css' %}">
{% endblock %}

{% block maincontent %}
<form method="POST">
    <div class="order-product-description">
        <h3 class='bold'>{{ product.name }}</h3>
        <p class='product-description'>{{ product.description }}</p>
        {% if product.stock == "Made to Order" %}
            <p class='product-stock'>{{ product.stock }}</p>
        {% else %}
            <p class='product-stock'>Stocks available: {{ product.stock }}</p>
        {% endif %}
        <p class='product-instructions'>Possible allergens: {{ product.instructions }}</p>
    </div>

    {% csrf_token %}
    {{ form.order }}
    {{ form.product }}
    <div class="order-product-size">
        <h2 class='subtitle bold'>Size/Type</h2>
        <!-- MANUAL RENDERING -->
        <div id="order-radios">
            {% for size in sizes %}
                <div class="order-product-size-input">
                    <div class="radio-mobile sizeRadio">
                        <input type="radio" name="size" id="id_size_1" value="{{ size.id }}" class="size-radio-input">
                        <span class="radio-select-mobile"></span>
                    </div>
                    <label for="id_size_1" class='subtitle product-size' data-price="{{ size.price_size }}">{{ size.size }} (PHP {{ size.price_size | floatformat:0 }})</label>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if addons %}
    <div class="order-product-addons">
        <h2 class='subtitle bold'>Add-Ons</h2>
        <!-- MANUAL RENDERING -->
        {% for addon in addons %}
            <div class="order-product-addon">
                <div class="order-product-addons-input">
                    <label class="checkbox-mobile">
                        <input type="checkbox" name="addons" id="id_addon_0" value="{{ addon.id }}" class="addon-radio-input">
                        <span class="checkmark-mobile"></span>
                    </label>
                    <label for="id_addon_0" class='subtitle product-addon' data-price="{{ addon.price_addon }}">{{ addon.addon }}</label>
                </div>
                <span class="addon-price">+ PHP {{ addon.price_addon | floatformat:2 }}</span>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="order-product-instructions">
        <h2 class='subtitle bold'>Special Instructions</h2>
        {{ form.instructions }}
    </div>

    <div class="order-products-footer">
    {{ form.quantity }}
    <button type="button" data-shop="{{ shop.id }}" data-product="{{ product.id }}" data-action="add" id="add-to-basket"
     class="add-to-basket-btn subtitle bold update-cart">Add to Basket</button>
</form>

{% endblock %}

{% block scriptsBody %} 
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}