{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Payment{% endblock %}

{% block stylesheets %} 
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <form method="post">
        {% csrf_token %}
        {% if slug == 'card' %}
            {{ form.amount }} {{ form.currency }}
            <h1>Pay through Credit/Debit Card</h1><br>
            <p>Cardholder's Name</p>
            {{ form.cardholder_name }}<br>
            <p>Card Number</p>
            {{ form.account_number }}<br>
            <p>Expiry Date</p>
            {{ form.exp_date }}<br>
            <p>CVV</p>
            {{ form.cvv }}<br><br>
        {% elif slug == 'ewallet' %}
            {{ form.amount }} {{ form.currency }}
            <h1>Pay through eWallet</h1><br>
            <p>Account Name</p>
            {{ form.cardholder_name }}<br>
            <p>Card Number</p>
            {{ form.account_number }}<br><br>
        {% else %}
            <h1>Pay through Cash on Delivery</h1><br>
            <p>Change for</p>
            <input type="text" name="change" id="change" class="small-input default subtitle"><br><br>
        {% endif %}
        
        <button type="submit" class="primary-btn primary-btn-link">Pay Now</button>
    </form>
{% endblock %}

{% block scriptsBody %}
{% endblock %}