{% load static %}

{% block footer %}

<div class="footer" style="background-color: var(--primary-main);height:10rem;">
    <div class="footer-content" style="display: flex; justify-content: space-between; padding: 0 7.5rem;">
        <div class="footer-items"style="flex-direction:column;">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/logos/white-ql-small-horizontal-logo_1zaxfg-GZ1.svg">
            <div class="footer-item list" style="display: flex;">
                <a href="#">Quicklink for Business</a>
                <a href="#">privacy policy</a>
                <a href="#">terms of use</a>
                <a href="#">contact us</a>
            </div>
        </div>
        <a href="#">hello@quicklink.ph</a>
    </div>
</div>


{% endblock %}