{% load static %}

<div class="shops__footer">
        <div class="footer__item-text" id="footer__ql-logo">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/logos/white-ql-small-horizontal-logo_1zaxfg-GZ1.svg" alt="Quicklink Logo">
            <div class="footer__text-content">
                <div class="footer__items">
                    <a href="#" class="footer__text">Quicklink for Business</a>
                    <a href="#" class="footer__text">Privacy Policy</a>
                    <a href="#" class="footer__text">Terms of Use</a>
                    <a href="#" class="footer__text">Contact Us</a>
                </div>
            <a href="#" class="footer__text">hello@quicklink.ph</a>
        </div>
</div>
