{% load static %}

<div class="merchant__list">
    <div class="merchant__card">
        <div class="merchant__card-display">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/thumbnail_KQ5n35XyH.png" id="merchant__logo" alt="Merchant Logo">
        </div>
        <div class="merchant__card-info">
            <h3 class="merchant__company-name">Kakanin Kusina</h3>
            <p class="merchant__company-location">Quezon City, Philippines</p>
        </div>
    </div>
    <div class="merchant__card">
        <div class="merchant__card-display">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/thumbnail_KQ5n35XyH.png" id="merchant__logo" alt="Merchant Logo">
        </div>
        <div class="merchant__card-info">
            <h3 class="merchant__company-name">Kakanin Kusina</h3>
            <p class="merchant__company-location">Quezon City, Philippines</p>
        </div>
    </div>
    <div class="merchant__card">
        <div class="merchant__card-display">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/thumbnail_KQ5n35XyH.png" id="merchant__logo" alt="Merchant Logo">
        </div>
        <div class="merchant__card-info">
            <h3 class="merchant__company-name">Kakanin Kusina</h3>
            <p class="merchant__company-location">Quezon City, Philippines</p>
        </div>
    </div>
    <div class="merchant__card">
        <div class="merchant__card-display">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/thumbnail_KQ5n35XyH.png" id="merchant__logo" alt="Merchant Logo">
        </div>
        <div class="merchant__card-info">
            <h3 class="merchant__company-name">Kakanin Kusina</h3>
            <p class="merchant__company-location">Quezon City, Philippines</p>
        </div>
    </div>
</div>
