{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Payment{% endblock %}

{% block scriptsHead %}
<script type="text/javascript" src="https://js.xendit.co/v1/xendit.min.js"></script>

<!-- Set Xendit Authorization -->
<script type="text/javascript">
    Xendit.setPublishableKey('xnd_public_development_A44I6GFvh3ecLZaiRLehBCbF8bGuBxwodSfXV9Qo9w6K2aGuCS2FRqE4ENxa9XeD');
</script> 
{% endblock %}

{% block maincontent %}
    <h1>Please wait while your payment is being processed...</h1>
    <div id="tokenData" style="display: none;">{{ data }}</div>
{% endblock %}

{% block scriptsBody %}
    <script>
        // VARIABLES
        let data = document.getElementById('tokenData').innerHTML;
        
        let tokenData = JSON.parse(data);
        var token_id = "";
        var auth_id = "";
        let amount = parseFloat(tokenData['amount']);

        var current_url = String(window.location.href);
        var prev_url = current_url.replace('token/', '');
        var next_url = current_url.replace('token', 'auth');

        // DATA VERIFICATION
        function verifyData() {
            var cardNumber = tokenData.card_number;
            var expMonth = tokenData.card_exp_month;
            var expYear = tokenData.card_exp_year;
            var cvn = tokenData.card_cvn;

            if (Xendit.card.validateCardNumber(cardNumber)) {
                console.log("Card Number Validated!")
            } else {
                alert("Invalid Card Number")
                setTimeout(function() {
                    window.location.href = prev_url
                }, 2000)
            }

            if (Xendit.card.validateExpiry(expMonth, expYear)) {
                console.log("Card Expiry Validated!")
            } else {
                alert("Invalid Card Expiry Date")
                setTimeout(function() {
                    window.location.href = prev_url
                }, 2000)
            }


            if (Xendit.card.validateCvn(cvn)) {
                console.log("Card CVV/CVN Validated!")
            } else {
                alert("Invalid CVN")
                setTimeout(function() {
                    window.location.href = prev_url
                }, 2000)
            }
        }
        
        // TOKENIZATION
        function sendTokenData(a) {
            token_id = a;

            $.ajax({
                url: current_url,
                type: "POST",
                data: {"token_id": token_id},
                success:function(response){
                    console.log("Token data successfully sent.");
                },
                error:function (xhr, textStatus, thrownError){
                    console.log("Can't send token data.");
                }
            });
        }

        function sendTokenWithAuthData(a, b) {
            token_id = a;
            auth_id = b;

            $.ajax({
                url: current_url,
                type: "POST",
                data: {"token_id": token_id, "auth_id": auth_id},
                success:function(response){
                    console.log("Token and authentication data successfully sent.")
                },
                error:function (xhr, textStatus, thrownError){
                    console.log("Can't send token and authentication data.");
                }
            });
        }

        function sendAuthData(a) {
            auth_id = a;

            $.ajax({
                url: current_url,
                type: "POST",
                data: {"auth_id": auth_id},
                success:function(response){
                    console.log("Authentication data successfully sent.")
                },
                error:function (xhr, textStatus, thrownError){
                    console.log("Can't send authentication data.");
                }
            });
        }
        
        function createToken() {
            var csrftoken = getToken('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            Xendit.card.createToken(tokenData, function(err, data) {
                if (err) {
                    console.log('Unable to create token.', err)
                }

                if (data.status === 'APPROVED' || data.status === 'VERIFIED') {
                    console.log('Data has been verified. Token has been created', data)
                    if (tokenData.is_multiple_use == false) {
                        token_id = data.id;
                        auth_id = data.authentication_id;
                        sendTokenWithAuthData(token_id, auth_id);
                    } else {
                        token_id = data.id;
                        sendTokenData(token_id);
                    }
                } else if (data.status === 'IN_REVIEW') {
                    // Handle authentication (3DS)
                    if (tokenData.is_multiple_use == false) {
                        window.open(data.payer_authentication_url, "3DS Authentication", "width=400, height=300, status, resizable");
                        token_id = data.id;
                        auth_id = data.authentication_id;
                        sendTokenWithAuthData(token_id, auth_id);
                    } else {
                        token_id = data.id;
                        sendTokenData(token_id);
                    }

                    console.log('Data is being reviewed for authentication.', data)
                    token_id = data.id;
                    sendTokenData(token_id);
                } else if (data.status === 'FAILED' || data.status === 'FRAUD') {
                    if (data.failure_reason == 'AUTHENTICATION_FAILED') {
                        console.log('Failed to create token.')
                        console.log('Failure Reason: ' + String(data.failure_reason), data)

                        token_id = data.id;
                        sendTokenData(token_id);
                    } else {
                        alert('Failed to create token.\n', 'Failure Reason: ' + String(data.failure_reason), data)
                    }
                }
            });
        }

        function createAuthentication() {
            // var authData = '{"method": "POST", "headers": {"Authentication": "Basic xnd_public_development_A44I6GFvh3ecLZaiRLehBCbF8bGuBxwodSfXV9Qo9w6K2aGuCS2FRqE4ENxa9XeD:"}, "data": {"amount": "' + amount + '", "token_id": "' + token_id + '"}}'
            var authData = '{"amount": "' + amount + '", "token_id": "' + token_id + '", "currency": "PHP"}'
            var authenticationData = JSON.parse(authData)

            Xendit.card.createAuthentication(authenticationData, function (err, data) {
                if (err) {
                    console.log('Unable to create authentication.', err)
                }

                if (data.status === 'APPROVED' || data.status === 'VERIFIED') {
                    console.log('Data has been verified. Authentication has been created', data);
                    auth_id = data.id;
                    sendAuthData(auth_id);
                } else if (data.status === 'IN_REVIEW' || data.status === 'CARD_ENROLLED') {
                    // Handle authentication (3DS)
                    window.open(data.payer_authentication_url, "3DS Authentication", "width=400, height=300, status, resizable");
                    console.log('Data is being reviewed. Authentication is not yet created.', data);
                    sendAuthData(auth_id);
                } else if (data.status === 'FAILED' || data.status === 'FRAUD') {
                    console.log('Failed to create authentication.', data);
                }
            });
        }

        verifyData();
        setTimeout(createToken, 1000);
        
        if (tokenData.is_multiple_use == true) {
            setTimeout(createAuthentication, 4000);
        }
        
        // setTimeout(function(){
        //     window.location.href = next_url
        // }, 8000);
    </script>
{% endblock %}