@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap%27%27');

body {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 567px) {}
.order-form {
    margin-top: 50px;
}

.product-name {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 5px;
    color: #2C2C2C;
}

.product-details {
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #2C2C2C;
}

.availability-of-product {
    list-style: none;
    font-size: 12px;
    line-height: 16px;
    margin-left: 20px;
    margin-top: 20px;
    color: #FF8A00;
}

.health-concerns {
    list-style: none;
    font-size: 12px;
    font-weight: 300px;
    line-height: 16px;
    margin-left: 20px;
    margin-top: 20px;
    color: #2C2C2C;
}

.size {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #2C2C2C;
}

.radio {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
    margin-top: 10px;
}

.special-instructions {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    padding: 20px;
    color: #2C2C2C;
    margin-top: 20px;
}

#text-box {
    list-style: none;
    margin-left: 20px;
    justify-content: center;
    border-color: #a3a3a3;
}

.button {
    font-family: 'Overpass', sans-serif;
    color: #FFF;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 40px;
    background: #FFAA2D;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    border-radius: 4px;
    border-color: transparent;
    margin:0px;
}

div.sticky {
    position: sticky;
    bottom: 0;
    background-color: #FEFEFE;
    padding: 12px;
    font-size: 20px;
    filter: drop-shadow(0px 3px 5px rgba(51, 51, 51, 0.15));
}