.header-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #FFF;
    border: 1px solid #DCDCDC;
    z-index: 998;
}

.header-wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.user-information {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: black;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.user-information p {
    margin-right: -12px;
}

.datetime {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    color: black;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}