@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* THE TWO BIG DIVS! */

.container {
    display: flex;
}

.seventy-percent {
    display: flex;
    flex-direction: column;
    margin: 88px 0px 5px 48px;
    background-color: #FFF;
    max-width: 75%;
}


/* --for the company top portion-- */

.company {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.company-details {
    display: flex;
    flex-direction: column;

}

.company-column {
    display: flex;
}

.contacts-row {
    display: flex;
    padding-top: 8px;
}

.company-contacts {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 0px;
    margin-right: 20px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--muted-default);
}

/*company logo */

.circular-logo {
    border-radius: 50%;
}
#company-logo {
    padding: 0px 20px 0px 0px;
}

/*texts*/
.company-name {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    padding-top: 0px;
    color: var(--muted-default);
}

#img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}


/* -- FOR ALL THE CARDS IN 70% DIV -- */

/* div for cards */
.company-card-block {
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.company-cards {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2.97872px 4.96454px rgba(51, 51, 51, 0.15);
    border-radius: 7.171px;
    margin: 24px 24px 0px 0px;
}

/* card elements */

#product-img{
    max-width: 319px;
    max-height: 272px;
}

.product-name {
    font-family: Overpass;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #2C2C2C;

    padding: 16px 0px 0px 16px;
}

.product-price {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2C2C2C;

    padding: 4px 0px 24px 16px;
} 


/* BASKET TIME */

/*basket divs */
.basket-receipt {
    position: fixed;
    right:0px;
    width: 35%;
    max-width: 320px;
    height: 100vh;
    background-color: var(--bg-color);
    filter: drop-shadow(-4px 0px 10px rgba(0, 0, 0, 0.1));
}

.receipt-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 24px;
}

.group {
    display: flex;
}

.receipt-body {
    margin: 40px 16px 0px 16px;
}

.display-order {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.basket-price-div {
    display:flex;
}

.space {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket-additional-price-div {
    display: flex;
    padding-bottom: 12px;
}

.basket-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
/* basket header text */

.basket-header-title {
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    margin-left: 16px;
    color: #2C2C2C;
}

.hide-details {
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #798CF2;
    float:right;
    margin-left: 24px;
}

/*basket body text */

.basket-product-name {
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #2C2C2C;
}

.basket-php {
    font-size: 10px;
    line-height: 20px;
    padding-right:4px;
    color: var(--secondary-alt);
}

.basket-product-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-alt);
}

.basket-subtitle {
    font-size: 14px;
    line-height: 12px;
    color: #A3A3A3;
}

.basket-additional-order {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.basket-additional-php {
    font-size: 12px;
    line-height: 16px;
    color: #A3A3A3;
    padding-right: 4px;
}

.basket-additional-price {
    font-size: 12px;
    line-height: 16px;
    color: #A3A3A3;
}

.basket-notes {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #A3A3A3;
}
/*basket buttons and the +/- */

.edit-btn {
    border: 1px solid var(--primary-main);
    background-color: var(--bg-color);
    font-family: 'Overpass', sans-serif;
    color: var(--primary-main);
    font-size: 14px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 10px;

}

/* basket footer, div and texts */

/*div*/
.receipt-end {
    position: -webkit-sticky;
    position: sticky;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-content:center;
    bottom: 0;
    padding: 16px;
    font-size: 20px;
    background-color: #FFF;
    filter: drop-shadow(0px 3px 5px rgba(51, 51, 51, 0.15)); 
}

.basket-subtotal-price-div {
    display: flex;
}

.basket-total-price-div {
    display: flex;
}

.basket-space {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 4px 8px 4px;
}
/*text */
.basket-subtotal {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #A3A3A3;
    align-items:baseline;
}

.basket-subtotal-php {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    align-items:baseline;
    color: #A3A3A3;
    margin-right: 4px;
}

.basket-subtotal-price {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    align-items:baseline;
    color: #A3A3A3;
}

.basket-total {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-top:8px;
    align-items:baseline;
    color: #2C2C2C;
}

.basket-total-php {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-top:8px;
    align-items:baseline;
    color: #2C2C2C;
    margin-right: 4px;
}

.basket-total-price {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-top:8px;
    align-items:baseline;
    color: #2C2C2C;
}

.button {
    font-family: 'Overpass', sans-serif;
    color: #FFF;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 40px;
    margin-top:8px;
    margin-bottom: 8px;
    width: 100%; /* double check with josh */
    background-color: var(--secondary-main);
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    border-radius: 4px;
    border-color: transparent;
}
