@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*background */

.body {
background-color: #a3a3a3;
}
/* divs */
.pop-up-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-width: 496px;
    max-height: 603px;
    padding-bottom: 8px;
    z-index: 3;
}

.ql-logo {
    padding-top: 40px;
}

.pop-up-card-body {
    padding-top: 32px;
}

.pop-up-card-text {
    padding-top: 16px;
}

.pop-up-card-button {
    padding-top: 32px;
}

/*pop up info */
#x.btn {
    position: absolute;
    float: right;
    padding: 4px 4px;
}
.title {
    font-size: 24px;
    color: var(--primary-main);
    padding-top: 8px 0 8px 0;
}

.pop-up-card-text {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.text {
    font-size: 16px;
    padding-left: 12px;
}

/* buttons */
.create-account-btn {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    background-color: var(--primary-main);
    padding: 24px 32px 24px 32px;
}

.next-time-btn {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color: var(--muted-lighter);
    background-color: transparent;
    padding: 24px 32px 32px 32px;
    margin-top: 8px;
    box-shadow: none;
}