@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
body {
  background-color: var(--bg-color);
}
.container {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin-left: 200px;
}
.financePageHeader {
  color: var(--secondary-alt);
  font-size: 28px;
  font-weight: bold;
  padding: 72px 0px 28px 32px;
}
.mainCards {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}
.cards {
  width: 100%;
  margin-left: 32px;
  background-color: #FFF;
  padding: 20px 0px 16px 20px;
  box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
  border-radius: 5px;
}
.cardHeader {
  color: var(--secondary-alt);
  font-size: 20px;
  font-weight: 600;
}
.totalValue {
  font-weight: 700;
  font-size: 28px;
  padding: 4px 0 8px 0;
}
.cardSubheader {
  font-size: 14px;
  color: var(--muted-default);
}
.paymentMethodTable {
  width: 100%;
  height: 80%;
  margin-top:40px;
  background-color: #FFF;
}
.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tableHeaderText {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: var(--muted-dark);
  padding: 24px 24px;
}
.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tableRowText {
  font-family: Overpass;
  font-style: normal;
  padding: 24px 24px 24px 60px;
}
.tableRowBank {
  font-family: Overpass;
  font-style: normal;
  padding: 24px 24px 24px 96px;
}
.tableRowStatus {
  font-family: Overpass;
  font-style: normal;
  padding: 24px 24px 24px 64px;
}
.tableRowDate {
  font-family: Overpass;
  font-style: normal;
  padding: 24px 24px 24px 32px;
}
.tableRowPrice {
  font-family: Overpass;
  font-style: normal;
  padding: 24px 24px 24px 0px;
}
.paymentTable tr:nth-child(even) {
  background-color: var(--primary-light);
} 
.paymentTable tr:nth-child(odd) {
  background-color: #FFF;
} 
.pagination {
  display: flex;
  justify-content: center;
  padding-top:64px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
/*


.bottomPageNumber {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  padding-bottom: 24px;
}
.pageNumberButton {
  display: flex;
  background: transparent;
  justify-content: center;
  padding: 0px;
}
#arrow {
  padding: 0px 8px 0px 8px;
}
.buttonText {
  color: var(--primary-main);
  font-size: 16px;
}
.pageNumber {
  color: var(--muted-light);
  padding-left: 56px;
  padding-right: 56px;
}


@media(min-width:468px){
    .container-1{
      display:flex;
      margin-left: 245px;
      margin-top: 15px;
    }
}
@media(min-width:468px){
    .container-2{
      margin-left: 232px;
      margin-top: 30px;
    }
}
@media(min-width:468px){
    .container-3{
      margin-left: 232px;
      border-top: 0px;
      border-bottom: 1px;
      border-color: #DCDCDC;
    }
}

p.financesHeader {
  display: flex;
  width: 186px;
  height: 40px;
  margin-left: 245px;
  margin-top: 74px;
  color: #FF8A00;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
    /* identical to box height, or 143% */
  /*
.financesCardHeader {
  text-align: left;
  margin-left:25px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #FF8A00;
  background-color: #FFFFFF;
}
.financesLargeText {
/* H1 / Extra Bold */ /*
  font-family: Overpass;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  background-color: #FFFFFF;
  text-align: left;
  margin-left:25px;
  margin-bottom: 10px;
/* Muted / Dark */
 /* color: #2C2C2C;
}

.financesSmallerText {
  background-color: #FFFFFF;
  /* Muted / Light *//*
  color: #757575;
  font-size: 14px;
  text-align: left;
  margin-left:25px;
  margin-bottom: 5px;
}

.container-1 div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #FFFFFF;
  margin-right: 15px;
  }

.container-2 div {
  padding: 16px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: #DCDCDC;
  background-color: #FFFFFF;
}
.container-3 div {
  padding: 16px;
  background-color: #FFFFFF;
}
.box-1{
  flex:1;
  order:1;
  background-color: #FFFFFF;
}
.box-2{
  flex:1;
  order:2;
  background-color: #FFFFFF;
}
.box-3{
  flex:1;
  order: 3;
  background-color: #FFFFFF;
}
.box-4{
  flex:1;
  order:1;
  width: 100%;
}
.box-5{
  flex:1;
  order:2;
  width: 100%;
}
/* CSS for the table  */

/*p.financeTableHeader{
  flex: right;
//styleName: Overline / Bold;
font-family: Overpass;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 1px;
text-align: left;
background-color: #FFFFFF;
}

p.financeTableBody {
//styleName: Subtitle / Regular;
font-family: Overpass;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
background-color: #FFFFFF;
flex: row;
}
.table-row:nth-child(even) {
  background-color: #F0F3FF;
  height: 38px;
}
.table-row:nth-child(odd) {
  background-color: #FFFFFF;
}
}
