{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}{{shop.shop_name|title}}: Account Settings{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/subnav.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/faqs.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
        {% include 'settings/resources_sidebar.html' %}
        <div class="resources__container">
            <div class="settings__container" style="padding: 4rem;">
                <h1 class="settings__header extra-bold">Frequently Asked Questions</h1>
                <div class="settings__wrapper">
                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Bakit ang pogi ko?</h2>
                        <p class="subtitle">Lorem ipsum you're on mute. wear a mask antibodies. Quarantini whipped coffee Coronavirus take out order. The new normal remote learning doggface208 self care mail-in vote. Trying times unprecedented super-spreader event pod self care wash hands whipped coffee quarantine. Doomscrolling amazon prime virtual happy hour.</p>
                    </div>
    
                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Bakit ang pogi ko?</h2>
                        <p class="subtitle">Lorem ipsum you're on mute. wear a mask antibodies. Quarantini whipped coffee Coronavirus take out order. The new normal remote learning doggface208 self care mail-in vote. Trying times unprecedented super-spreader event pod self care wash hands whipped coffee quarantine. Doomscrolling amazon prime virtual happy hour.</p>
                    </div>
    
                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Bakit ang pogi ko?</h2>
                        <p class="subtitle">Lorem ipsum you're on mute. wear a mask antibodies. Quarantini whipped coffee Coronavirus take out order. The new normal remote learning doggface208 self care mail-in vote. Trying times unprecedented super-spreader event pod self care wash hands whipped coffee quarantine. Doomscrolling amazon prime virtual happy hour.</p>
                    </div>
                </div>
            </div>
        </div>

    {% if form.errors %}
        <div id="form-errors" style="display: none;">{{ form.errors.as_json }}</div>
    {% endif %}

    {% for message in messages %}
        <div class="js-success-msgs" style="display: none;">{{ message }}</div>
    {% endfor %}

{% endblock %}

{% block scriptsBody %}
{% endblock %}