<div class="resources__sidebar">
    <div class="resources__sidebar__wrapper">
        <h2 class="resources__sidebar__header bold">Resources</h2>
        <div class="resources__sidebar__menu">
            <ul class="resources__sidebar__items">
                <li class="resources__sidebar__item">
                    <a class="resources__sidebar__link" href="{% url 'accounts:resource-settings-faqs' %}">
                        <svg class="resources__sidebar__icon">
                            <use xlink:href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/faqs__UmzDmQ88rk.svg" />
                        </svg>
                        FAQS
                    </a>
                </li>
                <li class="resources__sidebar__item">
                    <a class="resources__sidebar__link" href="#">
                        <svg class="resources__sidebar__icon">
                            <use xlink:href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/feedback_bvE3drqy3.svg" />
                        </svg>
                        Feedback Form
                    </a>
                </li>
                
                <li class="resources__sidebar__item">
                    <a class="resources__sidebar__link" href="#">
                        <svg class="resources__sidebar__icon">
                            <use xlink:href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/privacy_policy_QhNGalb8g0Q.svg" />
                        </svg>
                        Privacy Policy
                    </a>
                </li>
                
                <li class="resources__sidebar__item">
                    <a class="resources__sidebar__link" href="#">
                        <svg class="resources__sidebar__icon">
                            <use xlink:href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/agreement_MAoJPNN76.svg" />
                        </svg>
                        Agreement
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>