.orders__container {
    width: 100%;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: column;
    align-content: center;
}

.orders__header {
    min-height: 10vh;
    width: 100%;
    padding: 4rem 6rem 1rem 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;;
}

.orders__header__wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.orders__header__content, .orders__products {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.orders__header__content h1 { color: var(--secondary-alt); }

.orders__header__btns, .orders__total {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.orders__header__btns form {
    width: auto;
    display: flex;
    flex-flow: row wrap;
}

.orders__search-bar {
    margin: 0 24px;
}

.primary-btn img, .tertiary-btn-link img {
    margin: 0 0 0 8px;
}

.orders__summary {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.orders__wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

.orders__summary-table { 
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
}

.orders__table-header {
    height: 72px;
    max-width: 100%;
    background: var(--muted-white);
    border-top: 1px solid var(--muted-lightest);
    border-bottom: 1px solid var(--muted-lightest);
    text-align: center;
    vertical-align: middle;
}

.orders__table-header th {
    padding: 0; 
    margin: 0;
}

.order-table-row-1,  
.order-table-row-2 {
    height: 72px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-blend-mode: overlay;
}

.order-table-row-1 { background: rgba(169, 184, 255, 0.03); }
.order-table-row-2 { background: var(--muted-white); }

.order-table-cell {
    width: auto;
    padding: 0 2rem;
    text-align: center;
    vertical-align: middle;
}

.status-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* PENDING ORDERS */
.orders__header__btns button {
    margin: 0 8px;
}

.orders__subheader {
    min-height: 7.5vh;
    width: 100%;
    padding: 0 6rem 2rem 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.orders__subheader form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.orders__subheader button {
    margin: 0 40px;
}

.orders__total {
    padding-right: 32px;
}

.orders__sizes__container {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border: 1px solid var(--muted-lighter);
}

.size__count {
    color: var(--secondary-alt) !important;
    padding-left: 1rem;
}