{% extends 'quicklink/base.html' %}
{% load static %}

{% block pagetitle %}Pending Orders{% endblock %}

{% block maincontent %}

{% if not orders %}
        <div class="empty-orders-container">
            <div class="empty-orders-wrapper">
                <div class="empty-orders-content">
                    <h1>You have no pending orders</h1>
                </div>
            </div>
        </div>

    {% else %}
    <div class="orders-container">

        <div class="orders-header">
            <div class="orders-header-wrapper">
                <div class="orders-header-content">
                    <h1 class="extra-bold">Pending Orders</h1>
                </div>
            </div>
        </div>

        <div class="orders-subheader">
            <div class="orders-header-wrapper">
                <div class="orders-products">
                    <form method="get">
                        {{ productFilter.form }}
                        <button type="submit" class="tertiary-btn-link tertiary-btn subtitle bold">Search</button>
                    </form>
                </div>
                <div class="orders-total">
                    {% if OrderCount == 0 %}
                        <p class="bold">Total Pending: 0</p>
                    {% else %}
                        <p class="bold">Total Pending: {{ orderCount }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="orders-summary">
            <div class="orders-wrapper">
                <table class="orders-summary-table">
                    <tr class="orders-table-header">
                        <th class="table-header order-table-cell">Delivery Date</th>
                        <th class="table-header order-table-cell">Customer</th>
                        <th class="table-header order-table-cell">Product</th>
                        <th class="table-header order-table-cell">Quantity</th>
                        <th class="table-header order-table-cell">Size</th>

                        {% for addon in addons %}
                            {% if products_verification == productOrders_verification %}
                            {% else %}
                                <th class="table-header order-table-cell">w/ {{ addon.addon }}</th>
                            {% endif %}
                        {% endfor %}
                        
                        <th class="table-header order-table-cell">Additional Notes</th>
                    </tr>

                    {% for i in products %}
                        {% if forloop.counter|divisibleby:2 %}
                            <tr class="order-table-row-2">
                        {% else %}
                            <tr class="order-table-row-1">
                        {% endif %}
                                <td class="order-table-cell subtitle">{{ i.order.delivery_date|date:"d-m-Y" }}</td>
                                {% if i.order.user.info_customer %}
                                    <td class="order-table-cell subtitle">{{ i.order.user.info_customer.customer_name | title }}</td>
                                {% else %}
                                    <td class="order-table-cell subtitle">{{ i.order.user.info_shop.shop_name | title }}</td>
                                {% endif %}
                                <td class="order-table-cell subtitle">{{ i.product.name }}</td>
                                
                                <td class="order-table-cell subtitle">{{ i.quantity }}</td>
                                <td class="order-table-cell subtitle">{{ i.size.size }}</td>

                                {% for addon in addons %}
                                    {% if products_verification == productOrders_verification %}
                                    {% else %}
                                        <td class="order-table-cell subtitle">
                                            <label class="checkbox">
                                                    {% if addon in selected_addons %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                
                                <td class="order-table-cell subtitle">
                                    <a href="" class="tertiary-btn-link bold">See Notes</a>
                                </td>
                            </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>
    {% endif %}

{% endblock %}