html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

.navBurger {
  display: none;
}

.primary-white-btn {
  background: #fff;
  box-shadow: var(--regular-box-shadow);
  transition: background 200ms;
  cursor: url('../static/logos/blue-cursor.png'), auto;
}

.primary-white-btn:hover {
  background: var(--primary-main);
  box-shadow: var(--regular-box-shadow);
  transition: background 200ms;
}

.primary-white-btn-link {
  cursor: url('../static/logos/blue-cursor.png'), auto;
  font-weight: 700;
  color: var(--primary-main);
}

.primary-white-btn-link:hover {
  font-weight: 700;
  color: #fff;
}

.heroCircle1 {
  position: absolute;
  top: 8px;
  z-index: -5;
  max-width: 80px;
}

.heroCircle2 {
  position: absolute;
  top: 136px;
  left: 472px;
  z-index: -5;
  max-width: 160px;
}

.heroCircle3 {
  position: absolute;
  top: 584px;
  right: 0px;
  z-index: -5;
  max-width: 96px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../static/background/heroBG.png");
  background-blend-mode: multiply;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 10;
  padding: 5vh 10vw;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  max-width: 40vw;
}

.heroHead {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.heroBody {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #fff;
  margin: 16px 0 32px 0;
}

.heroImage {
  max-width: 50%;
}

.vp1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10vh 20vw;
}

.textArea {
  display: flex;
  margin-bottom: 40px;
}

.line {
  width: 4px;
  height: auto;
  background-color: var(--secondary-main);
  margin-right: 24px;
}

.vpText {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.vpText p {
  margin-top: 8px;
  color: var(--muted-default);
}

.vp1Image { width: 100%; }

.circleBack1 {
  max-width: 200px;
  position: absolute;
  z-index: -1;
  top: 1480px;
}

.circleBack2 {
  max-width: 184px;
  position: absolute;
  z-index: -2;
  top: 2200px;
  right: 0px;
}

.vp2Flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15vh 20vw;
}

.vp2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vp2Area {
  max-width: 100%;
}

.vp2Image {
  max-width: 25%;
  margin-right: 5vw;
}

.payMethods {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
}

.payLogos {
  display: flex;
  margin-top: 8px;
}

.payLogos img {
  margin: 0px 8px;
  max-height: 40px;
}

.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40vh 20vw;
}

.customerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.customerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 60px 0px 60px;
  max-width: 296px;
}

.customerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.customerText h3 {
  font-weight: 700;
  text-align: center;
}

.customerText p {
  text-align: center;
  margin: 8px 0px 32px 0px;
}

.vertLine {
  width: 1px;
  height: 100%;
  background-color: var(--secondary-main);
  margin: 0px 24px;
}

.comparative {
  margin: 25vh 20vw;
}

.compTable {
  max-width: 100%;
}

.compCircle {
  position: absolute;
  max-width: 280px;
  top: 2880px;
  z-index: -2;
}

.CTA {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("/landing/public/static/background/ctaBG.png");
  background-size: 100% 100%;
  margin: 0 20vw 25vh 20vw;
  padding: 10vh 5vw;
  border-radius: 40px;
  box-shadow: var(--regular-box-shadow);
}

.CTAWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.textCTA {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.buttonCTA {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.textCTA h1 {
  width: 95%;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  color: var(--primary-main);
}

.mainFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #BAC6FF 0%, #798CF2 100%);
  height: 50vh;
}

.footerLogo {
  max-width: 80px;
}

.footerFull {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5vh 10vw;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footerNavs {
  display: flex;
  margin-left: 2.5rem;
}

.footerNavs h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
}

.footerLink {
 color: #fff;
 margin-top: 8px;
 padding: 0px;
 font-weight: 400;
 cursor: url('../static/logos/blue-cursor.png'), auto;
 transition: color 0.3s ease;
}

.footerLink:hover {
  color: var(--secondary-light);
}

.footerColumn {
  min-width: 160px;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.footerInquiries {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
}

.footerInquiries p {
  color: #fff;
  font-weight: 700;
}

.footerEmail {
  display: inline-block;
  position: relative;
}

.footerEmail:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary-light);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.footerEmail:hover:after { 
  width: 100%; 
  left: 0; 
}

.documentLinks {
  display: flex;
}

.documentLinks a {
  cursor: url('../static/logos/blue-cursor.png'), auto;
}

.documentLinks p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.documentLinks p:hover {
  color: var(--secondary-light);
}

/* OVER 1920px */
@media only screen and (min-width: 1921px) {
  a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 744px;
    z-index: -5;
    max-width: 160px;
  }

  .heroCircle3 {
    position: absolute;
    top: 1200px;
    right: 0px;
    z-index: -5;
    max-width: 96px;
  }

  .heroText { max-width: 75%; }

  .heroHead {
    font-size: 2.5rem;
    line-height: 3rem;
    color: #fff;
    font-weight: 700;
  }
  
  .heroBody {
    font-size: 1.5rem;
    line-height:2.5rem;
    max-width: 90%;
    color: #fff;
  }

  .vp1Image {
    width: 95%;
    margin-right: 64px;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2200px;
  }

  .vp2 {
    margin: 25vh 0;
  }

  .vp2Image {
    max-width: 25%;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 160px 400px;
    justify-content: center;
    align-items: center;
  }

  .customerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 60px 0px 60px;
    max-width: 360px;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 10vh 20vw;
  }

  .CTA {
    margin: 25vh 20vw;
  }
}

/* 960px - 1440px */
@media screen and (min-width: 960px) and (max-width: 1440px) {
  a {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .navBurger {
    display: none;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 744px;
    z-index: -5;
    max-width: 160px;
  }

  .heroText { max-width: 45vw; }

  .heroHead {
    max-width: 80%;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    color: #fff;
  }
  
  .heroBody {
    width: 90%;
    font-size: 1rem;
    line-height: 2rem;
    color: #fff;
    margin: 8px 0 24px 0;
  }

  .heroImage {
    max-width: 50%;
    margin-right: 40px;
  }

  .vp1 {
    margin: 80px 20vw 160px 20vw;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2200px;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh 20vw;
  }
  
  .vp2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .vp2Image {
    max-width: 25%;
    margin-right: 64px;
  }

  .vp2Area {
    max-width: 100%;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40vh 15vw;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 10vh 20vw;
  }

  .CTA {
    margin: 25vh 20vw;
    padding: 10vh 5vw;
  }

  .textCTA h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .mainFooter {
    height: auto;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .navBurger {
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  .navBurger {
    display: flex;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 400px;
    z-index: -5;
    max-width: 160px;
  }

  .heroHead {
    max-width: 70%;
  }

  .heroText {
    margin-left: 8vw;
    margin-top: 40px;
    max-width: 80%;
  }

  .heroImage {
    margin-right: 0px;
    margin-left: 16px;
    max-width: 75%;
  }

  .vp1 {
    margin: 5vh 15vw;
  }

  .vpText {
    max-width: 100%;
  }
  
  .textArea {
    margin-bottom: 1.5rem;
  }
  
  .vpText h1 {
    font-size: 2rem;
  }

  .vpText p {
    margin-top: 8px;
    color: var(--muted-default);
    font-size: 1rem;
  }
  
  .vp1Image { width: 100%; }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
    left: -280px;
  }

  .circleBack2 {
    top: 2400px;
    max-width: 120px;
  }

  .customers {
    margin: 25vh 20vw;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh 15vw;
  }

  .vp2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vp2Image {
    height: 100%;
    width: 100%;
    margin-right: 40px;
  }

  .payMethods { margin: 0 0 1.5rem 0; }

  .payLogos { margin-top: 4px; }

  .payLogos img {
    margin: 0px 4px;
    height: 24px;
    max-width: 400px;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 160px 40px;
    justify-content: center;
    align-items: center;
  }

  .customerCard {
    margin: 64px 40px 0px 40px;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 25vh 15vw;
  }

  .CTA {
    height: 20vh;
    margin: 10vh 15vw;
  }

  .CTA h1 {
    font-size: 1rem;
    line-height: 2rem;
    max-width: 80%;
  }

  .mainFooter { height: 70vh; }

  .footerContent {
    margin: 0px 40px;
    display: flex;
    align-items: center;
  }

  .footerInquiries {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }

  .documentLinks {
    margin-top: 8px;
  }

  .documentLinks a {
    padding: 0px 48px 0px 0px;
  }

  .footerContent {
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerColumn {
    margin-left: 0px;
    margin-top: 40px;
  }

  .footerNavs {
    flex-direction: column;
    margin-left: 0px;
  }

  .footerInquiries {
    margin-left: 24px;
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }

  .documentLinks {
    margin-top: 8px;
  }

  .documentLinks a {
    padding: 0px 48px 0px 0px;
  }

  .documentLinks p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .hero { height: 120vh; padding: 20vh 5vw; justify-content: flex-end; }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 200px;
    z-index: -5;
    max-width: 80px;
    max-width: 160px;
  }

  .heroCircle3 { display: none; }

  .heroHead { 
    font-size: 1.5rem; 
    line-height: 2rem; 
    max-width: 95%; 
  }

  .heroBody {
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
  }

  .heroImage {
    margin-left: 0;
    min-width: 100%;
    height: auto;
  }

  .customers { margin: 25vh 7.5vw 25vh 7.5vw; }
  .customerCards { flex-direction: column; }

  .vp1 { margin: 5vh 7.5vw; }
  
  .vpText h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .vpText p {
    color: var(--muted-default);
    font-size: 1rem;
  }

  .vp2Flex { margin: 5vh 7.5vw; }
  .vp2 { flex-direction: column; }
  .payLogos div { margin: 1rem 0; }

  .vp2Image {
    height: auto;
    min-width: 50%;
    margin-bottom: 5vh;
  }

  .comparative {
    margin: 5vh 7.5vw;
  }

  .compTable {
    height: auto;
    min-width: 100%;
  }

  .compCircle { display: none; }
  .circleBack2 { display: none; }

  .CTA {
    height: auto;
    margin: 5vh 7.5vw;
    padding: 5vh 2.5vw;
  }

  .CTAWrapper { flex-direction: column; }

  .textCTA {
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5vh 2.5vw;
  }

  .textCTA h1 { text-align: center; }
  
  .buttonCTA {
    flex-basis: 50%;
    padding: 0.5vh 2.5vw;
    justify-content: center;
    align-items: flex-end;
  }

  .CTA h1 {
    font-size: 1rem;
    line-height: 2rem;
    max-width: 80%;
  }

  .CTA a { font-size: 1rem; line-height: 1.5rem; }

  .mainFooter { height: auto; }
  .footerFull { padding: 5vh 5vw; }
}

@media screen and (max-width: 320px) {
  .hero { height: auto; padding: 25vh 5vw; justify-content: flex-end; }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 200px;
    z-index: -5;
    max-width: 80px;
    max-width: 160px;
  }

  .heroCircle3 { display: none; }

  .heroHead { 
    font-size: 1.5rem; 
    line-height: 2rem; 
    max-width: 95%; 
  }

  .heroBody {
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
  }

  .heroImage {
    margin-left: 0;
    min-width: 100%;
    height: auto;
  }

  .customers { margin: 25vh 7.5vw 25vh 7.5vw; }
  .customerCards { flex-direction: column; }

  .vp1 { margin: 5vh 7.5vw; }
  
  .vpText h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .vpText p {
    color: var(--muted-default);
    font-size: 1rem;
  }

  .vp2Flex { margin: 5vh 7.5vw; }
  .vp2 { flex-direction: column; }
  .payLogos div { margin: 1rem 0; }

  .vp2Image {
    height: auto;
    min-width: 50%;
    margin-bottom: 5vh;
  }

  .comparative {
    margin: 5vh 7.5vw;
  }

  .compTable {
    height: auto;
    min-width: 100%;
  }

  .compCircle { display: none; }
  .circleBack2 { display: none; }

  .CTA {
    height: 30vh;
    margin: 5vh 7.5vw;
    padding: 5vh 2.5vw;
  }

  .CTAWrapper { flex-direction: column; }

  .textCTA {
    flex-basis: 60%;
    justify-content: center;
    align-items: flex-start;
  }

  .textCTA h1 { text-align: center; }
  
  .buttonCTA {
    flex-basis: 40%;
    justify-content: center;
    align-items: flex-end;
  }

  .CTA h1 {
    font-size: 1rem;
    line-height: 2rem;
    max-width: 80%;
  }

  .CTA a { font-size: 1rem; line-height: 1.5rem; }

  .mainFooter { height: auto; }
  .footerFull { padding: 5vh 5vw; }
}

/* IPAD PRO */
@media screen and (width: 1024px) and (height: 1366px) {
  .navBurger { display: flex; }

  .hero {
    height: 80vh;
    padding: 15vh 10vw;
    align-items: center;
    flex-direction: column-reverse;
  }

  .heroText { max-width: 100%; }
  .heroImage { max-width: 90%; }

  .vp1 { margin: 5vh 10vw; }
  .customers { margin: 15vh 10vw; }
  .vp2Flex { margin: 5vh 10vw; }
  .comparative { margin: 10vh 10vw; }
  .CTA { height: 20vh; margin: 10vh 10vw; }

  .vp2Image {
    height: auto;
    min-width: 40%;
    margin-bottom: 5vh;
  }

  .payLogos { margin-top: 16px; }

  .payLogos img {
    margin: 0px 8px;
    height: 28px;
    max-width: 400px;
  }

  .mainFooter {
    height: 25vh;
  }

  .footerFull { justify-content: flex-start; padding: 5vh 10vw; }
  .footerInquiries { margin-top: 5vh; }

  .documentLinks p {
    font-size: 14px;
  }
}