html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y:auto;
  overscroll-behavior: none;
  /* height: auto; */
  /* overflow: hidden; */
}

section {
  z-index: 1;
}

.navLanding {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  transition: all 200ms ease-in-out;
  /* -webkit-transition: background 250ms ease-in-out; */
}

.navLanding.scrolled {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(107.56deg, #798CF2 15.42%, #FED9A4 100%);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
  opacity: 0;
  transition: all 200ms ease-in-out;
  box-shadow: var(--regular-box-shadow);
}

.navOthers {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  width: 100vw;
  background: linear-gradient(107.56deg, #798CF2 15.42%, #FED9A4 100%);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 200ms ease-in-out;
  box-shadow: var(--regular-box-shadow);
  /* -webkit-transition: background 250ms ease-in-out; */
}

.mobileNav {
  display: none;
  top: 0;
  height: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
}

.mobileNav.scrolled {
  height: 80px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(107.56deg, #798CF2 15.42%, #FED9A4 100%);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
  opacity: 0;
  transition: all 200ms ease-in-out;
  box-shadow: var(--regular-box-shadow);
}

.mobileBurger {
  margin-left: 40px;
}

.mobileNavLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
  background: #fff;
  box-shadow: var(--regular-box-shadow);
  padding: 40px 0px;
  z-index: 2000;
  position: fixed;
  width: 100vw;
  top: -100%;
  opacity: 0;
}

.openNav img {
  max-height: 93px;
}

.mobileNavOptions {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  color: var(--muted-light);
}

.mobileNavLinks button {
  margin-top: 40px;
}

.navLogo {
  max-height: 48px;
}

.logoLink {
  padding-left: 0px;
}

.navLinks {
  margin-left: 120px;
}

.navOptions {
  padding: 2px 32px 0px 32px;
  color: #fff;
  font-weight: 700;
}

.navButton {
  margin-right: 120px;
}

.primary-white-btn {
  background: #fff;
  box-shadow: var(--regular-box-shadow);
  transition: background 200ms;

}

.primary-white-btn:hover {
  background: var(--primary-main);
  box-shadow: var(--regular-box-shadow);
  transition: background 200ms;

}

.primary-white-btn-link {
  font-weight: 700;
  color: var(--primary-main);
}

.primary-white-btn-link:hover {
  font-weight: 700;
  color: #fff;
}

.heroBG {
  position: absolute;
  z-index: -4;
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
  max-height: 100vh;
  opacity: 70%;
}

.heroCircle1 {
  position: absolute;
  top: 8px;
  z-index: -5;
  max-width: 80px;
}

.heroCircle2 {
  position: absolute;
  top: 136px;
  left: 472px;
  z-index: -5;
  max-width: 160px;
}

.heroCircle3 {
  position: absolute;
  top: 584px;
  right: 0px;
  z-index: -5;
  max-width: 96px;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../static/background/heroBG.png");
  background-blend-mode: multiply;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  margin-left: 120px;
  max-width: 400px;
}

.heroHead {
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  font-weight: 700;
}

.heroBody {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 32px;
}

.heroImage {
  max-width: 50%;
  margin-right: 24px;
}

.vp1 {
  display: flex;
  flex-direction: column;
  margin: 80px 120px 160px 120px;
}

.textArea {
  display: flex;
  flex-direction: row;
}

.line {
  width: 4px;
  height: auto;
  background-color: var(--secondary-main);
  margin-right: 16px;
}

.vpText {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.vpText h1{
  font-weight: 700;
}

.vpText p{
  margin-top: 8px;
  color: var(--muted-default);
}

.vp1Image {
  margin-top: 40px;
}

.circleBack1 {
  max-width: 200px;
  position: absolute;
  z-index: -1;
  top: 1480px;
}

.circleBack2 {
  max-width: 184px;
  position: absolute;
  z-index: -2;
  top: 2200px;
  right: 0px;
}

.vp2Flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 160px 120px;
}

.vp2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vp2Area {
  max-width: 80%;
}

.vp2Image {
  max-width: 25%;
  margin-right: 40px;
}

.payMethods {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
}

.payMethods h3 {
  font-weight: 700;
}

.payLogos {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.payLogos img {
  margin: 0px 8px;
  max-height: 40px;
}

.customers {
  display: flex;
  flex-direction: column;
  margin: 160px 120px;
  justify-content: center;
  align-items: center;
}

.customerCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.customerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 60px 0px 60px;
  max-width: 296px;
}

.customerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.customerText h3 {
  font-weight: 700;
  text-align: center;
}

.customerText p {
  text-align: center;
  margin: 8px 0px 32px 0px;
}

.vertLine {
  width: 1px;
  height: 100%;
  background-color: var(--secondary-main);
  margin: 0px 24px;
}

.comparative {
  margin: 160px 120px;
}

.compTable {
  max-width: 100%;
}

.compCircle {
  position: absolute;
  max-width: 280px;
  top: 2880px;
  z-index: -2;
}

.CTA {
  background-image: url("/landing/public/static/background/ctaBG.png");
  background-size: cover;
  margin: 160px 120px;
  padding: 80px 40px;
  border-radius: 40px;
  box-shadow: var(--regular-box-shadow);
  /* padding: 8px 0px; */
}

.textCTA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 40px 0px; */
  /* background: #fff; */
}

.textCTA h1 {
  font-weight: 700;
  color: var(--primary-main);
  /* max-width: 90%; */
}
/* 
.textCTA button {
  margin-top: 24px;
} */

.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* margin-top: 80px; */
  background: linear-gradient(180deg, #BAC6FF 0%, #798CF2 100%);
  height: 320px;
}

.footerLogo {
  max-width: 80px;
}

.footerContent {
  margin: 0px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerNavs {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.footerNavs h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
}

.footerLink {
 color: #fff;
 margin-top: 8px;
 padding: 0px;
 font-weight: 400;
}

.footerColumn {
  width: 160px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.footerInquiries {
  margin-left: 120px;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerInquiries p {
  color: #fff;
  font-weight: 700;
}

.documentLinks {
  display: flex;
  flex-direction: row;
}

.documentLinks p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 567px) {
  .navLanding {
    display: none;
  }

  .navLanding.scrolled {
    display: none;
  }

  .navLinks {
    margin-left: 16px;
  }

  .navButton {
    margin-right: 16px;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 200px;
    z-index: -5;
    max-width: 80px;
  }

  .heroText {
    margin: 0px 16px;
    /* margin-top: 40px; */
    max-width: 400px;
  }

  .heroHead {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
  }
  
  .heroBody {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .heroCircle3 {
    display: none;
  }

  .heroImage {
    display: none;
  }

  .vp1 {
    margin: 80px 16px 80px 16px;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2400px;
    max-width: 120px;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 16px;
  }
  

  .vp2 {
    display: flex;
    flex-direction: row;
    /* margin: 160px 240px; */
    align-items: center;
    justify-content: center;
  }

  .vp2Image {
    max-width: 25%;
    margin-right: 40px;
    display: none;
  }

  .vp2Area {
    max-width: 544px;
  }

  .textArea {
    max-width: 440px;
  }

  .payMethods {
    max-width: 400px;
  }

  .payMethods h3 {
    max-width: 400px;
  }

  .payLogos {
    flex-direction: column;
  }

  .payLogos img {
    margin: 0px 8px 24px 0px;
    max-height: 24px;
    max-width: 400px;
  }

  .circleBack1 {
    display: none;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 80px 16px;
    justify-content: center;
    align-items: center;
  }

  .customerCards {
    flex-direction: column;
  }

  .customerCard {
    margin: 40px 0px 0px 0px;
  }

  .customerCard {
    margin: 64px 24px 0px 24px;
  }

  .customerCard img {
    max-width: 120px;
  }

  .customers h1 {
    text-align: center;
  }

  .customerCard h3 {
    font-size: 16px;
  }

  .customerCard p {
    font-size: 14px;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 80px 16px;
  }

  .CTA {
    margin: 80px 16px;
    padding: 32px 16px;
    border-radius: 16px;
    /* padding: 8px 0px; */
  }

  .textCTA {
    flex-direction: column;
    align-items: flex-start;
  }

  .CTA h1 {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }

  .CTA button {
    margin-top: 24px;
  }

  .compCircle {
    display: none;
  }

  .circleBack2 {
    display: none;
  }

  .mainFooter {
    height: 680px;
  }

  .footerContent {
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerColumn {
    margin-left: 0px;
    margin-top: 40px;
  }

  .footerNavs {
    flex-direction: column;
    margin-left: 0px;
  }

  .footerInquiries {
    margin-left: 16px;
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }

  .documentLinks {
    margin-top: 8px;
    /* margin-bottom: 24px; */
  }

  .documentLinks p {
    font-size: 14px;
  }

  .documentLinks a {
    padding: 0px 48px 0px 0px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {

  .navLanding {
    display: none;
  }

  .navLanding.scrolled {
    display: none;
  }

  .navLinks {
    margin-left: 16px;
  }

  .navButton {
    margin-right: 16px;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 400px;
    z-index: -5;
    max-width: 160px;
  }

  .heroText {
    margin-left: 24px;
    /* margin-top: 40px; */
    max-width: 400px;
  }

  .heroHead {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
  }
  
  .heroBody {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .heroCircle3 {
    display: none;
  }

  .heroImage {
    display: none;
  }

  .vp1 {
    margin: 80px 24px 160px 24px;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2400px;
    max-width: 120px;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px 24px;
  }
  

  .vp2 {
    display: flex;
    flex-direction: row;
    /* margin: 160px 240px; */
    align-items: center;
    justify-content: center;
  }

  .vp2Image {
    max-width: 25%;
    margin-right: 40px;
    display: none;
  }

  .vp2Area {
    max-width: 544px;
  }

  .textArea {
    max-width: 440px;
  }

  .payMethods {
    max-width: 400px;
  }

  .payMethods h3 {
    max-width: 400px;
  }

  .payLogos img {
    margin: 0px 8px;
    max-height: 24px;
    max-width: 400px;
  }

  .circleBack1 {
    display: none;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 160px 40px;
    justify-content: center;
    align-items: center;
  }

  .customerCards {
    flex-direction: column;
  }

  .customerCard {
    margin: 64px 0px 0px 0px;
  }

  .customerCard img {
    max-width: 120px;
  }

  .customerCard h3 {
    font-size: 16px;
  }

  .customerCard p {
    font-size: 14px;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 160px 24px;
  }

  .CTA {
    margin: 160px 24px;
    /* padding: 8px 0px; */
  }

  .CTA h1 {
    font-size: 16px;
    line-height: 24px;
    max-width: 50%;
  }

  .compCircle {
    display: none;
  }

  .mainFooter {
    height: 680px;
  }

  .footerContent {
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerColumn {
    margin-left: 0px;
    margin-top: 40px;
  }

  .footerNavs {
    flex-direction: column;
    margin-left: 0px;
  }

  .footerInquiries {
    margin-left: 24px;
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }

  .documentLinks {
    margin-top: 8px;
    /* margin-bottom: 24px; */
  }

  .documentLinks a {
    padding: 0px 48px 0px 0px;
  }

  .documentLinks p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1067px) {

  .navLanding {
    display: none;
  }

  .navLanding.scrolled {
    display: none;
  }

  .mobileNav {
    display: flex;
  }

  .mobileNav.scrolled {
    display: flex;
  }

  .navLinks {
    margin-left: 40px;
  }

  .navButton {
    margin-right: 40px;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 400px;
    z-index: -5;
    max-width: 160px;
  }

  .heroText {
    margin-left: 80px;
    margin-top: 40px;
    max-width: 400px;
  }

  .heroImage {
    margin-right: 0px;
    margin-left: 16px;
    max-width: 75%;
  }

  .vp1 {
    margin: 80px 40px 160px 40px;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2400px;
    max-width: 120px;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px 40px;
  }
  

  .vp2 {
    display: flex;
    flex-direction: row;
    /* margin: 160px 240px; */
    align-items: center;
    justify-content: center;
  }

  .vp2Image {
    max-width: 25%;
    margin-right: 40px;
  }

  .vp2Area {
    max-width: 544px;
  }

  .textArea {
    max-width: 440px;
  }

  .payMethods {
    max-width: 400px;
  }

  .payMethods h3 {
    max-width: 400px;
  }

  .payLogos img {
    margin: 0px 8px;
    max-height: 24px;
    max-width: 400px;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 160px 40px;
    justify-content: center;
    align-items: center;
  }

  .customerCard {
    margin: 64px 40px 0px 40px;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 160px 40px;
  }

  .CTA {
    margin: 160px 40px;
    /* padding: 8px 0px; */
  }

  .CTA h1 {
    max-width: 50%;
  }

  .footerContent {
    margin: 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footerInquiries {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }

  .documentLinks {
    margin-top: 8px;
  }

  .documentLinks a {
    padding: 0px 48px 0px 0px;
  }

}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {

  .navLinks {
    margin-left: 240px;
  }

  .navButton {
    margin-right: 240px;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 744px;
    z-index: -5;
    max-width: 160px;
  }

  .heroText {
    margin-left: 240px;
    max-width: 400px;
  }

  .heroImage {
    margin-right: 40px;
  }

  .vp1 {
    margin: 80px 240px 160px 240px;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2200px;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px 240px;
  }
  

  .vp2 {
    display: flex;
    flex-direction: row;
    /* margin: 160px 240px; */
    align-items: center;
    justify-content: center;
  }

  .vp2Image {
    max-width: 25%;
    margin-right: 64px;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 160px 240px;
    justify-content: center;
    align-items: center;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 160px 240px;
  }

  .CTA {
    margin: 160px 240px;
    /* padding: 8px 0px; */
  }

  .footerContent {
    margin: 0px 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footerInquiries {
    margin-left: 240px;
    margin-top: 64px;
  }

}

@media only screen and (min-width: 1920px) {

  a {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  p {
    font-size: 20px;
    line-height: 32px;
  }

  .navLinks {
    margin-left: 400px;
  }

  .navButton {
    margin-right: 400px;
  }

  .heroCircle2 {
    position: absolute;
    top: 136px;
    left: 744px;
    z-index: -5;
    max-width: 160px;
  }

  .heroText {
    margin-left: 400px;
    max-width: 600px;
  }

  .heroHead {
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    font-weight: 700;
  }
  
  .heroBody {
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  
  .heroImage {
    max-width: 50%;
    margin-right: 24px;
  }

  .heroImage {
    margin-right: 160px;
  }

  .heroCircle3 {
    position: absolute;
    top: 1200px;
    right: 0px;
    z-index: -5;
    max-width: 96px;
  }

  .vp1 {
    margin: 80px 600px 160px 600px;
  }

  .circleBack1 {
    max-width: 320px;
    position: absolute;
    z-index: -1;
    top: 1520px;
  }

  .circleBack2 {
    top: 2200px;
  }

  .vp2Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px 600px;
  }
  

  .vp2 {
    display: flex;
    flex-direction: row;
    /* margin: 160px 240px; */
    align-items: center;
    justify-content: center;
  }

  .vp2Image {
    max-width: 25%;
    margin-right: 64px;
  }
  
  .customers {
    display: flex;
    flex-direction: column;
    margin: 160px 600px;
    justify-content: center;
    align-items: center;
  }

  .customerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 60px 0px 60px;
    max-width: 360px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .compCircle {
    position: absolute;
    max-width: 320px;
    top: 3200px;
    z-index: -2;
  }

  .comparative {
    margin: 160px 600px;
  }

  .CTA {
    margin: 160px 600px; 
    /* padding: 8px 0px; */
  }

  .footerContent {
    margin: 0px 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footerInquiries {
    margin: 64px 0px 0px 400px;
  }

}
