/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* IMPORT HERE */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}

:root {
  /* COLORS */
  --primary-main: #798CF2;
  --primary-alt: #0A28BC;
  --primary-light: #A9B8FF;
  --primary-pressed: #5569D3;

  --secondary-main: #FFAA2D;
  --secondary-alt: #FF8A00;
  --secondary-light: #FED9A4;

  --muted-default: #575757;
  --muted-dark: #2C2C2C;
  --muted-light: #757575;
  --muted-lighter: #A3A3A3;
  --muted-lightest: #DCDCDC;  
  --bg-color: #F8F9FF; 

  --success-main: #6CD9BF;
  --success-alt: #0ABC91;
  --success-light: #C2FAEC;

  --failure-main: #F35252;
  --failure-alt: #CC4545;
  --failure-light: #FFC5BE;

  --pending-main: #FEE14C;
  --pending-alt: #F8B629;
  --pending-light: #FFF7CF;

  /* BOX SHADOWS */
  --regular-box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
  --navbar-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);  
}


/* FONTS */
h1, h2, h3, p, a, input, .body, .subtitle {
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--muted-dark);
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
p, .body { font-size: 16px; line-height: 26px; }
.subtitle { font-size: 14px; }
.caption { font-size: 12px; }

.medium { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }

.overline {
  font-size: 10px;
  text-transform: uppercase;
}

.table-header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--muted-dark);
}

/* BUTTONS */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
  box-shadow: var(--regular-box-shadow);
  border-radius: 4px;
  border: none;
}

a {
  font-size: 14px;
  padding: 8px 24px;
  text-decoration: none;
  line-height: 22px;
}

.nav-link { font-size: 16px; letter-spacing: 0.025em; }

.primary-btn {
  background: var(--primary-main);
}

.primary-btn:hover {
  background: var(--primary-light); 
}

.primary-btn.active {
  background: var(--primary-pressed);
}

.primary-btn.disabled {
  background: var(--muted-lightest);
}

.primary-btn-link {
  font-weight: 700;
  color: #FFF;
}
.primary-btn-link.disabled {
  cursor: default;
  pointer-events: none; 
  color: var(--muted-lighter)
}

.secondary-btn {
  border: 1px solid var(--primary-main);
  background: #fff;
}

.secondary-btn-link {
  font-weight: 700;
  color: var(--primary-main);
}

.secondary-btn.failure {
  border: 1px solid var(--failure-main);
}

.secondary-btn-link.failure {
  color: var(--failure-main);
}

.tertiary-btn {
  background: transparent;
  box-shadow: none;
}

.tertiary-btn-link {
  color: var(--primary-main);
}

.tertiary-btn-link.failure {
  color: var(--failure-main);
}

.tertiary-btn-link:hover, .tertiary-btn:hover {
  color: var(--primary-light);
}

.tertiary-btn-link.failure:hover, .tertiary-btn.failure:hover {
  color: var(--failure-main);
  opacity: 0.5;
}

.add-to-basket-btn {
  width: auto;
  height: 40px;
  background-color: var(--secondary-main);
  color: white;
  box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
  border-radius: 4px;
  padding: 8px 24px;
  outline: none;
  border: none;
}

/* INPUTS */
input {
  outline: none;
}

input:focus {
  outline: none;
}

textarea {
  color:#000;
}

.small-input {
  width: 272px;
  height: 40px;
  padding: 0 16px;
}

.input {
  width: 512px;
  height: 40px;
  padding: 0 16px;
}

.large-input {
  width: 512px;
  height: 120px;
  padding: 16px;
}

.mobile-large-input {
  width: 288px;
  height: 120px;
  padding: 16px;
  border: 1px solid var(--muted-lighter);
  border-radius: 5px;
}

.input.default, .small-input.default, .large-input.default {
  resize: vertical;
  border: 1px solid var(--muted-lighter);
  border-radius: 5px;
}

.input.focused, .small-input.focused, .large-input.focused {
  border: 1px solid var(--primary-main);
  box-sizing: border-box;
  border-radius: 5px;
}

.input.filled, .small-input.filled, .large-input.filled {
  border: 1px solid var(--muted-lighter);
  box-sizing: border-box;
  border-radius: 5px;
}

.input.error, .small-input.error, .large-input.error {
  border: 1px solid var(--failure-main);
  box-sizing: border-box;
  border-radius: 5px;
}

.searchbar {
  color: #000;
  border: 1px solid var(--secondary-alt);
  background-color: #FFF;
  height: 40px;
  width: 512px;
  border-radius: 5px;
  padding: 2px 16px 0 20px;
}

.searchbar:focus, .searchbar:hover { outline: none; }

.select {
  min-width: 120px;
  max-width: auto;
  height: 26px;
  background: transparent;
  border: none;
  outline: none;
}

/* CONTROLS */
.checkbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.checkbox .checkmark {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--muted-lighter);
  /* outline: 1px solid var(--muted-lighter); */
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--muted-lightest);
}

.checkbox input:checked ~ .checkmark {
  border: none;
  background-color: var(--success-main);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  margin-top: -2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* MOBILE CONTROLS */
.radio-mobile {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.radio-mobile input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.radio-mobile .radio-select-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--muted-lighter);
}

.radio-mobile:hover input ~ .radio-select-mobile {
  background-color: var(--muted-lightest);
}

.radio-mobile input:checked ~ .radio-select-mobile {
  background-color: white;
}

.radio-select-mobile:after {
  content: "";
  display: none;
}

.radio-mobile input:checked ~ .radio-select-mobile:after {
  display: block;
}

.radio-mobile .radio-select-mobile:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--success-main);
}

.checkbox-mobile {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.checkbox-mobile input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.checkbox-mobile .checkmark-mobile {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--muted-lighter);
  /* outline: 1px solid var(--muted-lighter); */
}

.checkbox-mobile:hover input ~ .checkmark-mobile {
  background-color: var(--muted-lightest);
}

.checkbox-mobile input:checked ~ .checkmark-mobile {
  border: none;
  background-color: var(--success-main);
}

.checkmark-mobile:after {
  content: "";
  display: none;
}

.checkbox-mobile input:checked ~ .checkmark-mobile:after {
  display: block;
}

.checkbox-mobile .checkmark-mobile:after {
  margin-top: -2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.unclickable {
  pointer-events: none;
}

/* STATUS */
.order-status, .payment-status {
  height: 24px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pending { width: 68px; background-color: var(--failure-light); }
.sent { width: 46px; background-color: var(--secondary-light); }
.to-receive { width: 84px; background-color: var(--secondary-light); }
.received { width: 72px; background-color: var(--success-light); }
.cancelled { width: 84px; background-color: var(--failure-light); }
.processing { width: 92px; background-color: var(--primary-light); }

.order-status-text, .payment-status-text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 0.15em;
  line-height: 16px;
  text-transform: uppercase;
}

.pending-text { color: var(--muted-light); }
.sent-text, .to-receive-text { color: var(--secondary-alt); }
.received-text { color: var(--success-alt); }
.cancelled-text { color: var(--failure-main); }
.processing-text { color: var(--primary-pressed); }

.test-container {
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
*/
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  