@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/long-bg.svg');
    background-repeat:no-repeat;
    width: 100vw;
    height: 100vh;
}
/* div */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 32px 0px;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    padding: 0px 24px 0px 24px;
    max-height: 900px;
    max-width: 520px;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    border-radius: 5px;
}
.cardContainerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px 0px 24px;
    width: 100%;
}
.cardHeaderText {
    color: var(--primary-main);
    font-size: 28px;
    font-weight: 600;
    padding: 0 0 8px 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:16px;
  padding-bottom: 16px;
}
.pagination a {
  font-size:20px;
  color:var(--primary-main);
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid var(--primary-main);
  border-radius: 50%;
}
.pagination a.active {
  background-color: var(--primary-main);
  color: white;
  border-radius: 50%;
}
.line {
  display: block;
  width:32px;
  height:1px;
  background-color: var(--primary-main)
}
/* card body div */
.cardHeaderBody {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 24px;
    text-align: center;
    color: var(--muted-default);
}
.cardBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* card body text */
.signup-card-questions {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 17%);
    padding: 30px 0 6px 0;
}
/*textbox with info */
input[type=text], select {
    width: 100%;
    padding: 8px 16px;
    display: inline-block;
    font-family: 'Overpass', sans-serif;
    border: 1px solid #a3a3a3;
    font-size:14px;
    color: #2c2c2c;
    border-radius: 4px;
    box-sizing: border-box;
}
.drop-zone {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 208px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: var(--muted-dark);
    background-color: #FFFBF6;
    border: 1px dashed var(--secondary-main);
    border-radius: 10px;
}
#drop-zone-image {
    padding-bottom: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

/*bottom card */
.cardEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 24px 0px;
    width: 100%;
}
.imgRequirements {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: var(--muted-default);
}
.primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    width: 100%;    
    margin-top: 20px;
    margin-bottom: 8px;
}
.btn-info {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    box-shadow: none;
}
.secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-main);
    background: transparent;
    border-radius: 0.2rem;
    width: 100%;    
}
.btn {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    color: var(--primary-main);
    background-color: transparent;
    box-shadow: none;
}