@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap%27%27');

body {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 567px) {

.total-order {
    margin-top: 50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    
}

/* stuff below the nav */
.header {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding-bottom: 8px;
}

.arrow {
    margin-left: 15px;
    margin-top: 0px;
}

.basket-card {
    padding-top: 2px;
}

.hide-details {
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    padding-left: 125px;
    padding-top: 1px;
}

/* orders */

.item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    flex-direction: row;
}

.product-name {
    list-style: none;
    padding-left: 20px;
    padding-top: 7px;
}

.sub-product {
    list-style: none;
    color: #A3A3A3;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 7px;
}

.php {
    list-style: none;
    font-size: 10px;
    color: #FF8A00;
    padding-right: 3px;
    padding-top:13px;
}

.product-price {
    color: #FF8A00;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    padding-right: 25px;
    padding-top:8px;

}

.primary-btn {
    background: var(--primary-main);
  }

.add-on-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-on-price {
    list-style: none;
    color: #a3a3a3;
    font-size: 12px;
}

.special-instructions {
    list-style: none;
    color: #a3a3a3;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.basket-card:nth-of-type(odd) {
    background-color:#FFF;
}
        
.basket-card:nth-of-type(even) {
    background-color: #F8F9FF;
}

.button {
    font-family: 'Overpass', sans-serif;
    color: #FFF;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 40px;
    background: #FFAA2D;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    border-radius: 4px;
    border-color: transparent;
}

div.sticky {
    position: fixed;
    bottom: 0;  
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #FEFEFE;
    padding-top: 12px;
    filter: drop-shadow(0px 3px 5px rgba(51, 51, 51, 0.15)); 
}

.order-summary {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #a3a3a3;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.total-summary {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2c2c2c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}

.yellow-button{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content:center;
    list-style: none;
    padding: 12px;
    font-size: 20px;
}
}

