@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
body {
  background-color: var(--bg-color);
}
.container {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin-left: 12rem;
}
.PageHeaderText {
  color: var(--secondary-alt);
  font-size: 28px;
  font-weight: bold;
  padding: 4.625rem 0px 1.75rem 2.5rem;
}
.pageInformation {
  position: fixed;
  align-items: center;
  width: 100vw;
}
.pageInformationElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-buttons {
  display: flex;
}
.calendar-btn {
  display: flex;
  justify-content: start;
  align-items: left;
  font-size: 0.875rem;
  color: var(--muted-dark);
  width: 15rem;
  height:2.5rem;
  padding-left: 0.9rem;
  margin-left: 2.5rem;
  border: 1px solid var(--muted-lighter);
  background-color: transparent;
}
.left-elements {
  display: flex;
  align-items: center;
}
.searchbar{
    display: flex;
    justify-content: start;
    align-items: center;
}
input {
    color: var(--muted-lighter);
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    max-width:32rem;
}
#yellow-search-icon {
    align-items: center;
}
#download-btn {
    color: var(--primary-main);
    font-size: 0.875rem;
    border: 1px solid var(--primary-main);
    background-color: transparent;
    padding: 0.2rem 1.5rem;
    margin:1rem;
}
#purple-download-icon {
    padding: 0.5rem;
}
#send-updates-btn {
    color: #FFF;
    font-size: 0.875rem;
    background-color: var(--primary-main);
    padding: 0.5rem 1.5rem;
    margin-right:2rem;
}
#white-send-icon {
    padding-left: 0.5rem;
}
#grayArrowUp {
  padding-left: 0.25rem;
}
.OrderSummaryTable {
  border-collapse: collapse;
  margin: 5rem 0px;
  font-size: .75rem;
  min-width: 900px;
  width: 100%;
}
.OrderSummaryTable thead tr{
  font-family: 'Overpass', sans-serif;
  background-color: #FFF;
  color: var(--muted-dark);
  font-size: 10px;
  text-align: center;
  align-items: center;
  border-top: 1px solid var(--muted-lightest);
  border-bottom: 1px solid var(--muted-lightest)
}
.OrderSummaryTable tr{
  font-family: 'Overpass', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  min-height: 3.5rem;
}
.OrderSummaryTable th,
.OrderSummaryTable td {
  padding: 1.5rem 1.5rem;
}
.OrderSummaryTable td a{
  color: var(--primary-main);
  font-weight: bold;
}
.OrderSummaryTable tbody tr:nth-of-type(odd) {
  background-color: #F6F7FF;
}
.OrderSummaryTable tbody tr:nth-of-type(even) {
  background-color: #FFF;
}
/*
.pagination {
  display: flex;
  justify-content: center;
  padding-top:64px;
  padding-bottom: 32px;
  bottom: 0;
}
.pagination a {
  color:var(--muted-light);
  padding: 4px 12px;
  text-decoration: none;
}
.pagination a.active {
  background-color: var(--primary-main);
  color: white;
  border-radius: 50%;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50%;
}
.pageNumberButton {
  display: flex;
  background: transparent;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}
#arrow {
  padding: 0px 8px 0px 8px;
}
.buttonText {
  color: var(--primary-main);
  font-size: 16px;
}

